<div class="form-group">
  <%= f.label :patient %>
  <%= f.text_field :patient, value: @attendance.patient.name, class: 'form-control', disabled: true %>
</div>

<div class="form-group">
  <%= f.label :desease_stage %>
  <%= f.select :desease_stage_id, options_from_collection_for_select(@desease_stages, "id", "name"), {}, {class: 'form-control'} %>
</div>

<div class="form-group">
  <%= f.label :cid_code %>
  <%= f.text_field :cid_code, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :lis_code %>
  <%= f.text_field :lis_code, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :health_ensurance %>
  <%= f.select :health_ensurance_id, options_from_collection_for_select(@health_ensurances, 'id', 'name'), { include_blank: true }, {class: 'form-control'} %>
</div>

<div class="form-group">
  <%= f.label :doctor_name %>
  <%= f.text_field :doctor_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :doctor_crm %>
  <%= f.text_field :doctor_crm, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :observations %>
  <%= f.text_area :observations, class: "form-control" %>
</div>
