<%= form_for(@subsample) do |f| %>
  <% if @subsample.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @subsample.errors.full_messages.each do |message| %>
        <li class="error"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @subsample.refference_label.nil? %>
    <div class = 'form-group'>
      <%= f.label :refference_label %>
      <input value = "<%= @subsample.sample.refference_label %>" disabled class = "form-control"/>
      <%= f.text_field :sample_id, {hidden: true} %>
    </div>
  <% else %>
   <div class = 'form-group'>
      <%= f.label :sample_label %>
      <input value = "<%= @subsample.refference_label %>" disabled class = "form-control"/>
    </div>
  <% end %>

  <div class = "form-group">
    <%= f.label :subsample_kind_id %>
    <% if @subsample.subsample_kind.nil? %>
      <%= f.select :subsample_kind_id, options_from_collection_for_select(@subsample_kinds, :id, :name), {}, {class: 'form-control'} %>
    <% else %>
      <%= f.select :subsample_kind_id, options_from_collection_for_select(@subsample_kinds, :id, :name, selected: @subsample.subsample_kind.id), {}, {class: 'form-control'} %>
    <% end %>
  </div>

  <% if @subsample.collection_date %>
    <div class = "form-group">
      <%= f.label :collection_date %>
      <input value = "<%= @subsample.collection_date.strftime("%d/%m/%Y %H:%M") %>" disabled class = "form-control"/>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :storage_location %>
    <%= f.text_field :storage_location, {class: 'form-control'} %>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class = "text-center">
        Nanodrop
      </h3>
    </div>
    <div class="card-body">
      <%= f.fields_for :nanodrop_report do |nanodrop_fields| %>

        <div class = 'form-group'>
          <%= nanodrop_fields.label :concentration %>
          <%= nanodrop_fields.number_field :concentration, {class: 'form-control', step: :any} %>
        </div>

        <div class = 'form-group'>
          <%= nanodrop_fields.label :rate_260_280 %>
          <%= nanodrop_fields.number_field :rate_260_280, {class: 'form-control', step: :any} %>
        </div>

        <div class = 'form-group'>
          <%= nanodrop_fields.label :rate_260_230 %>
          <%= nanodrop_fields.number_field :rate_260_230, {class: 'form-control', step: :any} %>
        </div>

      <% end %>
    </div>
  </div>

  <div class="card mt-3" id="hemacounter-form" hidden>
    <div class="card-header">
      <h3 class = "text-center">
        Hemacounter
      </h3>
    </div>
    <div class="card-body">
      <%= f.fields_for :hemacounter_report do |hemacounter_fields| %>

        <div class = 'form-group'>
          <%= hemacounter_fields.label :leukocyte_total_count %>
          <%= hemacounter_fields.number_field :leukocyte_total_count, {class: 'form-control', step: :any} %>
        </div>

        <div class = 'form-group'>
          <%= hemacounter_fields.label :volume %>
          <%= hemacounter_fields.number_field :volume, {class: 'form-control', step: :any} %>
        </div>

        <div class="form-group">
          <%= hemacounter_fields.label :cellularity %>
          <%= hemacounter_fields.text_field :cellularity, class: 'form-control', disabled: true %>
        </div>

        <div class = 'form-group'>
          <%= hemacounter_fields.label :pellet_leukocyte_count %>
          <%= hemacounter_fields.number_field :pellet_leukocyte_count, {class: 'form-control', step: :any} %>
        </div>

      <% end %>
    </div>
  </div>

  <div class="card mb-3 mt-3">
    <div class="card-header">
      <h3 class = "text-center">
        Qubit
      </h3>
    </div>
    <div class="card-body">
      <%= f.fields_for :qubit_report do |qubit_fields| %>
        <div class = 'form-group'>
          <%= qubit_fields.label :concentration %>
          <%= qubit_fields.number_field :concentration, {class: 'form-control', step: :any} %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :observations %>
    <%= f.text_area :observations, class: "form-control" %>
  </div>

  <button class="btn btn-outline-primary float-right" id="btn-save">
    Salvar
  </button>

<% end %>
<script>
  function display_hemacounter_form() {
    const subsample_kind = $("#subsample_subsample_kind_id option:selected").text()
    if (subsample_kind === "DNA" || subsample_kind === "RNA")
      $("#hemacounter-form").removeAttr("hidden")
    else
      $("#hemacounter-form").attr("hidden", "hidden")
  }
  display_hemacounter_form()
  $("#subsample_subsample_kind_id").change(() => display_hemacounter_form())
</script>


<script>

  function calc_volume(){
    const leukocyte_total_count = $("#subsample_hemacounter_report_attributes_leukocyte_total_count").val()
    const volume = $("#subsample_hemacounter_report_attributes_volume").val()
    if (leukocyte_total_count !== "" && volume !== ""){
      const cellularity = leukocyte_total_count * volume
      const cellularity_formatted = cellularity.toString().replace(".", ",")
      $("#subsample_hemacounter_report_attributes_cellularity").val(cellularity_formatted)
    }
  }

  $("#subsample_hemacounter_report_attributes_leukocyte_total_count").blur(() => calc_volume())
  $("#subsample_hemacounter_report_attributes_volume").blur(() => calc_volume())

</script>
