<%= form_for(@subsample) do |f| %>
  <% if @subsample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subsample.errors.count, "error") %> prohibited this subsample from being saved:</h2>

      <ul>
      <% @subsample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if @subsample.refference_label.nil? %>
    <div class = 'form-group'>
      <%= f.label :refference_label %>
      <input value = "<%= @subsample.sample.refference_label %>" disabled class = "form-control"/>
      <%= f.text_field :sample_id, {hidden: true} %>
    </div>
  <% else %>
   <div class = 'form-group'>
      <%= f.label :sample_label %>
      <input value = "<%= @subsample.refference_label %>" disabled class = "form-control"/>
    </div>
  <% end %>

  <div class = "form-group">
    <%= f.label :subsample_kind_id %>
    <%= f.select :subsample_kind_id, options_from_collection_for_select(@subsample_kinds, :id, :name), {}, {class: 'form-control'} %>
  </div>

  <% if @subsample.collection_date %>
    <div class = "form-group">
      <%= f.label :collection_date %>
      <input value = "<%= @subsample.collection_date.strftime("%d/%m/%Y %H:%M") %>" disabled class = "form-control"/>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :storage_location %>
    <%= f.text_field :storage_location, {class: 'form-control'} %>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class = "text-center">
        Nanodrop
      </h3>
    </div>
    <div class="card-body">
      <%= f.fields_for :nanodrop_report do |nanodrop_fields| %>
        <div class = 'form-group'>
          <%= nanodrop_fields.label :rate_260_280 %>
          <%= nanodrop_fields.number_field :rate_260_280, {class: 'form-control', step: :any} %>
        </div>

        <div class = 'form-group'>
          <%= nanodrop_fields.label :rate_260_230 %>
          <%= nanodrop_fields.number_field :rate_260_230, {class: 'form-control', step: :any} %>
        </div>

        <div class = 'form-group'>
          <%= nanodrop_fields.label :concentration %>
          <%= nanodrop_fields.number_field :concentration, {class: 'form-control', step: :any} %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card mb-3 mt-3">
    <div class="card-header">
      <h3 class = "text-center">
        Qubit
      </h3>
    </div>
    <div class="card-body">
      <%= f.fields_for :qubit_report do |qubit_fields| %>
        <div class = 'form-group'>
          <%= qubit_fields.label :concentration %>
          <%= qubit_fields.number_field :concentration, {class: 'form-control', step: :any} %>
        </div>
      <% end %>
    </div>
  </div>

  <button class="btn btn-outline-primary float-right" id="btn-save-subsample">
    Salvar
  </button>

<% end %>
