<%= form_with(model: internal_code, local: true) do |form| %>
  <% if internal_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(internal_code.errors.count, "error") %> prohibited this internal_code from being saved:</h2>

      <ul>
      <% internal_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code %>
  </div>

  <div class="field">
    <%= form.label :field_id %>
    <%= form.text_field :field_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
