<div class="col-md-6 offset-md-3 mt-3" style="overflow: auto;">

  <%= form_with url: internal_codes_path, method: :get do |form| %>

    <div class="form-group">
      <%= form.hidden_field :field, value: :imunofeno%>
      <%= form.label InternalCode.human_attribute_name :code %>
      <%= form.text_field :code, class: 'form-control' %>
    </div>

    <button id="btn-search" class="btn btn-outline-info float-right">
      Buscar
    </button>

  <% end %>

</div>

<hr>

<table>
  <thead>
    <th>Código</th>
    <th>Tipo</th>
    <th>Entrada</th>
    <th>Exame</th>
    <th>Status</th>
    <th>Paciente</th>
    <th>Atendimento</th>
  </thead>
  <tbody>
    <% @internal_codes.each do |internal_code| %>
      <% unless internal_code.exams.empty? %>
        <% internal_code.exams.each do |exam| %>
          <tr class="internal-code">
            <td><%= internal_code.code %></td>
            <td><%= internal_code.sample.sample_kind.name %></td>
            <td><%= l internal_code.sample.entry_date %></td>
            <td><%= exam.offered_exam.name %></td>
            <td><%= exam.status_name %></td>
            <td><%= internal_code.attendance.patient.name %></td>
            <td>
              <%= link_to internal_code.attendance.lis_code, workflow_path(internal_code.attendance, tab: :samples) %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr class="internal-code">
          <td><%= internal_code.code %></td>
          <td><%= internal_code.sample.sample_kind.name %></td>
          <td><%= l internal_code.sample.entry_date %></td>
          <td>-</td>
          <td>-</td>
          <td><%= internal_code.attendance.patient.name %></td>
          <td>
            <%= link_to internal_code.attendance.lis_code, workflow_path(internal_code.attendance, tab: :samples) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= render 'layouts/table_footer', elements: @internal_codes %>
