<%= render 'layouts/user_navbar' %>

<div class="col-md-6 offset-md-3 mt-3" style="overflow: auto;">

  <%= form_with url: imunofeno_internal_codes_path, method: :get do |form| %>

    <div class="form-group">
      <%= form.label InternalCode.human_attribute_name :code %>
      <%= form.text_field :code, class: 'form-control' %>
    </div>

    <button id="btn-search" class="btn btn-outline-info float-right">
      Buscar
    </button>

  <% end %>

</div>

<hr>

<table class="table table-bordered text-center mt-5">
  <thead class="bg-dark text-white">
    <th>
      <h4>Código</h4>
    </th>
    <th>
      <h4>Tipo</h4>
    </th>
    <th>
      <h4>Entrada</h4>
    </th>
    <th>
      <h4>Exame</h4>
    </th>
    <th>
      <h4>Status</h4>
    </th>
    <th>
      <h4>Paciente</h4>
    </th>
    <th>
      <h4>Atendimento</h4>
    </th>
  </thead>
  <tbody>
    <% @internal_codes.each do |internal_code| %>
      <% unless internal_code.exams.empty? %>
        <% internal_code.exams.each do |exam| %>
          <tr class="internal-code">
            <td>
              <%= internal_code.code %>
            </td>
            <td>
              <%= internal_code.sample.sample_kind.name %>
            </td>
            <td>
              <%= l internal_code.sample.entry_date %>
            </td>
            <td>
              <%= exam.offered_exam.name %>
            </td>
            <td>
              <%= exam.exam_status_kind.display_name %>
            </td>
            <td>
              <%= internal_code.attendance.patient.name %>
            </td>
            <td>
              <%= link_to internal_code.attendance.lis_code, workflow_path(internal_code.attendance) %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr class="internal-code">
          <td>
            <%= internal_code.code %>
          </td>
          <td>
            <%= internal_code.sample.sample_kind.name %>
          </td>
          <td>
            <%= l internal_code.sample.entry_date %>
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            <%= internal_code.attendance.patient.name %>
          </td>
          <td>
            <%= link_to internal_code.attendance.lis_code, workflow_path(internal_code.attendance) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="container pagination justify-content-center" >
  <%= paginate @internal_codes , theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
</div>
