<%= render 'layouts/user_navbar' %>

<table class="table table-bordered text-center mt-5">
  <thead class="bg-dark text-white">
    <th>
      <h4>Código</h4>
    </th>
    <th>
      <h4>Tipo</h4>
    </th>
    <th>
      <h4>Data de entrada</h4>
    </th>
    <th>
      <h4>
        Exame
      </h4>
    </th>
    <th>
      <h4>
        Status
      </h4>
    </th>
    <th>
      <h4>
        Paciente
      </h4>
    </th>
    <th>
      <h4>
        Atendimento
      </h4>
    </th>
  </thead>
  <tbody>
    <% @internal_codes.each do |internal_code| %>
      <% unless internal_code.exams.empty? %>
        <% internal_code.exams.each do |exam| %>
          <tr>
            <td>
              <%= exam.internal_code.code %>
            </td>
            <td>
              <%= exam.internal_code.sample.sample_kind.name %>
            </td>
            <td>
              <%= l exam.internal_code.sample.entry_date %>
            </td>
            <td>
              <%= exam.offered_exam.name %>
            </td>
            <td>
              <% if exam.exam_status_kind == ExamStatusKind.find_by({name: 'Concluído'}) %>
                <label class="text-success">
                  <%= exam.exam_status_kind.name %>
                </label>
              <% else %>
              <label class="text-secondary">
                <%= exam.exam_status_kind.name %>
              </label>
              <% end %>
            </td>
            <td>
              <%= exam.internal_code.sample.attendance.patient.name %>
            </td>
            <td>
              <%= link_to exam.internal_code.sample.attendance.lis_code, workflow_path(internal_code.sample.attendance) %>
            </td>
          </tr>
        <% end %>
      <% else %>
      <tr>
        <td>
          <%= internal_code.code %>
        </td>
        <td>
          <%= internal_code.sample.sample_kind.name %>
        </td>
        <td>
          <%= l internal_code.sample.entry_date %>
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td>
          <%= internal_code.sample.attendance.patient.name %>
        </td>
        <td>
          <%= link_to internal_code.sample.attendance.lis_code, workflow_path(internal_code.sample.attendance) %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="container pagination justify-content-center" >
  <%= paginate @internal_codes , theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
</div>
