<%= form_for(@offered_exam) do |f| %>
  <% if @offered_exam.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-danger">Os seguintes erros foram encontrados no formulário:</h2>
      <ul>
      <% @offered_exam.errors.full_messages.each do |message| %>
        <li>
          <span class = 'text-danger error'>
            <%= message %>
          </span>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, {class: 'form-control'}%>
  </div>
  <div class="field form-group">
    <%= f.label :field_id %>
    <% if @offered_exam.field.nil? %>
      <%= f.select :field_id, options_from_collection_for_select(@fields, 'id', 'name'), {}, {class: 'form-control'} %>
    <% else %>
      <%= f.select :field_id, options_from_collection_for_select(@fields, 'id', 'name', selected: @offered_exam.field.id), {}, {class: 'form-control'} %>
    <% end %>
  </div>
  <%= render 'shared/form_button', locals: {action: locals[:action]} %>
<% end %>
