<%= form_for(@offered_exam) do |f| %>
  <% if @offered_exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offered_exam.errors.count, "error") %> prohibited this offered_exam from being saved:</h2>

      <ul>
      <% @offered_exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, {class: 'form-control'}%>
  </div>
  <div class="field form-group">
    <%= f.label :field_id %>
    <%= f.select :field_id, options_from_collection_for_select(@fields, 'id', 'name'), {}, {class: 'form-control'} %>
  </div>
  <button class="btn btn-outline-primary float-right">
    Salvar
  </button>
<% end %>
