<%= render 'layouts/user_navbar' %>

<div class="col-md-12 mb-3">
  <div class="mt-3 col-md-5 mb-3 d-inline-block offset-md-1 border-right">
    <%= form_tag(offered_exams_path, {method: :get}) do %>
      <div class="form-group">
        <label>Buscar exames por área</label>
        <%= select_tag :field ,options_from_collection_for_select(@fields, 'id', 'name'), {class: 'form-control'} %>
      </div>
      <div>
        <button id = "btn-search-by-field" class="btn btn-outline-info">
          Buscar
        </button>
      </div>
    <% end %>
  </div>

  <div class="mt-3 col-md-5 mb-3 d-inline-block">
    <%= form_tag(offered_exams_path, {method: :get}) do %>
      <div class="form-group">
        <label>Buscar nome</label>
        <%= text_field_tag :name, '', {class: 'form-control'} %>
      </div>
      <div>
        <button id = "btn-search-by-name" class="btn btn-outline-info">
          Buscar
        </button>
      </div>
    <% end %>
  </div>
</div>

<table>
  <thead>
    <th>Nome</th>
    <th>Mnemônico</th>
    <th>Status</th>
    <th>Área</th>
    <th>Tempo de execução</th>
    <th></th>
  </thead>
  <tbody>
    <% @offered_exams.each do |exam| %>
      <tr class="offered-exam">
        <td class="name">
          <%= exam.name %>
        </td>
        <td>
          <%= exam.mnemonyc %>
        </td>
        <td>
          <% if exam.is_active %>
            <span class="text-info">
              Ativo
            </span>
          <% else %>
            <span class="text-danger">
              Inativo
            </span>
          <% end %>
        </td>
        <td>
          <%= exam.field.name %>
        </td>
        <td>
          <%= exam.refference_date %> dias
        </td>
        <td>
          <%= link_to 'Editar', edit_offered_exam_path(exam), {class: 'btn btn-sm btn-outline-warning edit-offered-exam'} %>
          <% if exam.is_active %>
            <%= link_to 'Desabilitar', offered_exam_path(exam, is_active: false), {method: :patch, class: 'btn btn-sm btn-outline-danger disable-offered-exam', data: {confirm: 'Tem certeza ?'}} %>
          <% else %>
            <%= link_to 'Habilitar', offered_exam_path(exam, is_active: true), {method: :patch, class: 'btn btn-sm btn-outline-secondary enable-offered-exam'} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="container pagination justify-content-center" >
  <%= paginate @offered_exams , theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
</div>
