<p id="notice"><%= notice %></p>

<h1>Listing Offered Exams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Field</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offered_exams.each do |offered_exam| %>
      <tr>
        <td><%= offered_exam.name %></td>
        <td><%= offered_exam.field %></td>
        <td><%= offered_exam.is_active %></td>
        <td><%= link_to 'Show', offered_exam %></td>
        <td><%= link_to 'Edit', edit_offered_exam_path(offered_exam) %></td>
        <td><%= link_to 'Destroy', offered_exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offered exam', new_offered_exam_path %>
