<table class="table table-bordered text-center mb-5">
	<thead class="text-white bg-<%= locals[:color]%>">
		<th class="col-md-2">
				<%= Patient.model_name.human %>
		</th>
		<th class="col-md-2">
				<%= Attendance.human_attribute_name :lis_code %>
		</th>
		<th class="col-md-5">
				<%= Exam.model_name.human %>
		</th>
		<th class="col-md-1">
				<%= Exam.human_attribute_name :exam_status_kind %>
		</th>
		<th class="col-md-1">
				Atualizado em
		</th>
		<th>
		</th>
	</thead>
	<tbody>
		<% locals[:exams].each do |exam| %>
			<tr>
				<td>
					<%= exam.attendance.patient.name %>
				</td>
				<td>
					<%= exam.attendance.lis_code %>
				</td>
				<td>
					<%= exam.offered_exam.name %>
				</td>
				<td>
					<%= exam.exam_status_kind.name %>
				</td>
				<td>
					<% if exam.exam_status_changes.size > 0 %>
						<%= exam.exam_status_changes.order(change_date: :asc).last.change_date.strftime('%m/%d/%Y %H:%M') %>
					<% end %>
				<td>
					<%= link_to 'Atendimento', workflow_path(exam.attendance) %>
				</td>
			</tr>
		<% end %> 
	</tbody>
</table>