<%= render 'layouts/user_navbar' %>

<% unless @user.fields.empty? %>
  <div class="mt-3">

    <div style="width: 33%;" class="d-inline-block">
      <h4 class="text-center text-secondary">
        Exames aguardando início <span id="waiting-exams-number"><%= @waiting_exams[:count] %></span>
      </h4>
      <div id="exams-waiting-chart">
        <% if @waiting_exams[:count] > 0 %>
          <%= pie_chart @waiting_exams[:relation], legend: false, colors: waiting_colors, id: 'waiting-exams-chart' %>
        <% end %>
      </div> <%# TODO: continuar daqui 1 %>
    </div>

    <div style="width: 33%;" class="d-inline-block border-right border-left">
      <h4 class="text-center text-primary">
        Exames em andamento <%= @open_exams.size %>
      </h4>
      <div class="">
        <%= pie_chart @exams_relation, legend: false, colors: in_progress_colors %>
      </div>
    </div>

    <div style="width: 33%;" class="d-inline-block">
      <h4 class="text-center text-danger">
        Exames atrasados <%= @delayed_exams[:count] %>
      </h4>
      <div class="">
        <%= pie_chart @delayed_exams[:relation], legend: false, colors: delayed_colors %>
      </div>
    </div>
  </div>

  <table class="table table-bordered text-center">
    <thead class="bg-secondary text-white">
      <th>
        <h4>
          Exame
        </h4>
      </th>
      <th>
        <h4>
          Paciente
        </h4>
      </th>
      <th>
        <h4>
          Amostra
        </h4>
      </th>
      <td>
        <h4>
          Iniciado em
        </h4>
      </td>
      <td>
        <h4>
          Status
        </h4>
      </td>
      <th>
        <h4></h4>
      </th>
    </thead>
    <tbody>
      <% @issues.each do |exam| %>
        <tr>
          <td>
            <%= exam.offered_exam.name %>
          </td>
          <td>
            <%= exam.attendance.patient.name %>
          </td>
          <td>
            <% unless exam.internal_code.nil? %>
              <%= exam.internal_code.code %>
            <% end %>
          </td>
          <td>
            <% unless exam.start_date.nil? %>
              <%= l exam.start_date %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <%= exam_status_color_helper exam.exam_status_kind %>
          </td>
          <td>
            <%= link_to "Exame", workflow_path(exam.attendance) %>
          </td>
        </tr>
      <% end %>
      <%# TODO: adicionar redirecionamento para página correta no worflow !!! %>
      <%# TODO: adaptar para usuarios com varias areas  %>
      <%# TODO: adicionar cache nas tabelas de kind e referencia !!!! %>
    </tbody>
  </table>


<% end %>
