<%= render 'layouts/user_navbar' %>

<% unless @user.fields.empty? %>
  <div class="mt-3">

    <div style="width: 33%;" class="d-inline-block">
      <h4 class="text-center text-secondary">
        Exames aguardando início <%= @waiting_exams.size %>
      </h4>
      <%= pie_chart @waiting_exams, legend: false, colors: waiting_colors %>
    </div>

    <div style="width: 33%;" class="d-inline-block border-right border-left">
      <h4 class="text-center text-primary">
        Exames em andamento <%= @open_exams.size %>
      </h4>
      <%= pie_chart @exams_relation, legend: false, colors: in_progress %>
    </div>

    <div style="width: 33%;" class="d-inline-block">
      <h4 class="text-center">
        Exames atrasados
      </h4>
    </div>
  </div>

  <table class="table table-bordered text-center">
    <thead class="bg-secondary text-white">
      <th>
        <h4>
          Exame
        </h4>
      </th>
      <th>
        <h4>
          Paciente
        </h4>
      </th>
      <th>
        <h4>
          Amostra
        </h4>
      </th>
      <th>
        <h4>
          Iniciado em
        </h4>
      </th>
      <td>
        <h4>
          Status
        </h4>
      </td>
      <th>
        <h4>
          LINK
        </h4>
      </th>
    </thead>
    <tbody>
      <% @open_exams_objects.each do |exam| %>
        <tr>
          <td>
            <%= exam.offered_exam.name %>
          </td>
          <td>
            <%= exam.attendance.patient.name %>
          </td>
          <td>
            <%= exam.internal_code.code %>
          </td>
          <td>
            <%= l exam.start_date %>
          </td>
          <td>
            <%= exam.exam_status_kind.name %>
          </td>
          <td>
            <%= link_to "Exame", workflow_path(exam.attendance) %>
          </td>
        </tr>
      <% end %>
      <%# TODO: Diminuir tamanho dos graficos e adicionar legendas  %>
      <%# TODO: centralizar legendas %>
      <%# TODO: Adicionar linhas do exames esperando inicio com linha avisando diferença %>
    </tbody>
  </table>


<% end %>
