<%= form_for(@attendance, {method: :patch, action: :attendance_path, html: {style: 'overflow: auto;'}}) do |f| %>

	<%= hidden_field_tag "tab", "attendance" %>

	<% if @attendance.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% @attendance.errors.full_messages.each do |message| %>
					<li class="error"><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class = 'form-group'>
		<%= f.label :patient %>
		<%= f.text_field :patient, {class: 'form-control', disabled: true, value: @attendance.patient.name} %>
	</div>

	<div class = 'form-group'>
		<%= f.label :start_date %>
		<%= f.text_field :start_date, {class: 'form-control', disabled: true, value: I18n.l(@attendance.start_date.to_date)} %>
	</div>

	<div class="form-group">
		<%= f.label :status %>
		<%= f.text_field :status, {class: 'form-control', disabled: true, value: @attendance.status_name} %>
	</div>

	<div class="form-group">
		<%= f.label :desease_stage %>
		<%= f.select :desease_stage_id, options_from_collection_for_select(@desease_stages, 'id', 'name', selected: @attendance.desease_stage.id), {}, {class: 'form-control'} %>
	</div>

	<div class="form-group">
		<%= f.label :cid_code %>
		<%= f.text_field :cid_code, {class: 'form-control'} %>
	</div>

	<div class = 'form-group'>
		<%= f.label :lis_code %>
		<%= f.text_field :lis_code, {class: 'form-control'} %>
	</div>

	<div class = 'form-group'>
		<%= f.label :health_ensurance %>
		<% if @attendance.health_ensurance.nil? %>
			<%= f.select :health_ensurance_id, options_from_collection_for_select(@health_ensurances, 'id', 'name'), {prompt: ""}, {class: 'form-control'} %>
		<% else %>
			<%= f.select :health_ensurance_id, options_from_collection_for_select(@health_ensurances, 'id', 'name', selected: @attendance.health_ensurance.id), {}, {class: 'form-control', include_blank: ''} %>
		<% end %>
	</div>

	<div class = 'form-group'>
		<%= f.label :doctor_name %>
		<%= f.text_field :doctor_name, {class: 'form-control'} %>
	</div>

	<div class="form-group">
		<%= f.label :doctor_crm %>
		<%= f.text_field :doctor_crm, {class: 'form-control'} %>
	</div>

	<div class="form-group">
		<%= f.label :observations %>
		<%= f.text_area :observations, {class: 'form-control'} %>
	</div>

	<button id="btn-save" class = 'btn btn-outline-primary float-right'>
		Salvar
	</button>

<% end %>
