<% unless @attendance.complete? %>
	<%= link_to "Novo exame", new_exam_path(@attendance), class: "btn btn-lg btn-outline-success float-right mb-2 mr-3", id: 'new-exam'  %>
<% end %>

<table class="table text-center table-bordered table-sm">
	<thead class="bg-dark text-white">
		<th class="h4">
			Nome
		</th>
		<th class="h4">
			Amostra
		</th>
		<th class="h4">
			Data de início
		</th>
		<th class="h4">
			Conclusão
		</th>
		<th class="h4">
			Status
		</th>
		<th class="h4">
			Alterar status
		</th>
	</thead>
	<tbody>
		<% @attendance.exams.joins(:offered_exam).order("offered_exams.name ASC").each do |exam| %>
			<tr class="exam">
				<td>
					<%= exam.offered_exam.name %>
				</td>
				<td>
					<% if exam.internal_codes.size == 1 %>
						<%= exam.internal_codes.first.code %>
					<% elsif exam.internal_codes.size == 2 %>
						<%= "#{exam.internal_codes.first.code} - #{exam.internal_codes.last.code}" %>
					<% end %>
				</td>
				<td>
					<% if exam.start_date %>
						<%= l(exam.start_date) %>
					<% end %>
				</td>
				<td>
					<% if exam.finish_date %>
						<%= l exam.finish_date %>
					<% end %>
				</td>
				<td>
					<%= show_exam_status exam.status %>
				</td>
				<td>
					<%= exam_options_helper exam %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
