<table class="table text-center table-bordered">
			<thead class="bg-dark text-white">
				<th>
					<h4>Nome</h4>
				</th>
				<th>
					<h4>Data de início</h4>
				</th>
				<th>
					<h4>Data de conclusão</h4>
				</th>
				<th>
					<h4>Status</h4>
				</th>
				<th>
					<h4>Alterar status</h4>
				</th>
			</thead>
			<tbody>
				<% @attendance.exams.each do |exam| %>
					<tr>
						<td>
							<%= exam.offered_exam.name %>
						</td>
						<td>
							<% if exam.start_date %>
								<%= l(exam.start_date) %>
							<% end %>
						</td>
						<td>
							<% if exam.finish_date %>
								<%= l exam.finish_date %>
							<% end %>
						</td>
						<td>
							<% if exam.exam_status_kind == ExamStatusKind.find_by({name: 'Aguardando início'}) %>
								<label class = 'text-primary'>
									<%= exam.exam_status_kind.name %>
								</label>
							<% elsif exam.exam_status_kind == ExamStatusKind.find_by({name: 'Liberado técnico'}) %>
								<label class="text-info">
									<%= exam.exam_status_kind.name	%>
								</label>
							<% elsif exam.exam_status_kind == ExamStatusKind.find_by({name: 'Em repetição'}) %>
								<label class="text-secondary">
									<%= exam.exam_status_kind.name %>
								</label>
							<% elsif exam.exam_status_kind == ExamStatusKind.find_by({name: 'Concluído'}) %>
								<label class="text-primary">
									<%= exam.exam_status_kind.name %>
								</label>
							<% else %>
								<%= exam.exam_status_kind.name %>
							<% end %>
						</td>
						<td>
							<% if exam.exam_status_kind == ExamStatusKind.find_by({name: 'Aguardando início'}) %>
								<%= link_to 'Iniciar exame', start_exam_path(exam), {class: 'btn btn-sm btn-outline-primary'} %>

							<% elsif exam.exam_status_kind != ExamStatusKind.find_by({name: 'Concluído'}) %>

								<% unless exam.exam_status_kind == ExamStatusKind.find_by({name: 'Liberado técnico'}) %>
									<%= link_to 'Liberado técnico', change_to_tecnical_released_path(exam), {method: :patch, class: 'btn btn-sm btn-outline-info'} %>
								<% end %>

								<% unless exam.exam_status_kind == ExamStatusKind.find_by({name: 'Em repetição'}) %>
									<%= link_to 'Em repetição', change_to_in_repeat_path(exam), {method: :patch, class: 'btn btn-sm btn-outline-secondary'} %>
								<% end %>

								<% unless exam.exam_status_kind == ExamStatusKind.find_by({name: 'Concluído'}) %>
									<%= link_to 'Concluído', change_to_completed_path(exam), {data: { confirm: "Tem certeza ?" }, method: :patch, class: 'btn btn-sm btn-outline-success'} %>
								<% end %>

							<% else %>
									<label class = 'text-success'>Exame concluído</label>
							<% end %>

							<% if exam.exam_status_kind != ExamStatusKind.find_by({name: 'Aguardando início'}) %>
								<%= link_to 'Editar', edit_exam_path(exam), {class: 'btn btn-sm btn-outline-warning ml-2'} %>
							<% end %>

						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
