<% unless @attendance.attendance_status_kind == AttendanceStatusKind.COMPLETE %>
	<%= link_to "Novo exame", new_exam_path(@attendance), class: "btn btn-lg btn-outline-success float-right mb-2 mr-3", id: 'new-exam'  %>
<% end %>

<table class="table text-center table-bordered table-sm">
	<thead class="bg-dark text-white">
		<th>
			<h4>Nome</h4>
		</th>
		<th>
			<h4>Data de início</h4>
		</th>
		<th>
			<h4>Data de conclusão</h4>
		</th>
		<th>
			<h4>Status</h4>
		</th>
		<th>
			<h4>Alterar status</h4>
		</th>
	</thead>
	<tbody>
		<% @attendance.exams.joins(:offered_exam).order("offered_exams.name ASC").each do |exam| %>
			<tr class="exam">
				<td>
					<%= exam.offered_exam.name %>
				</td>
				<td>
					<% if exam.start_date %>
						<%= l(exam.start_date) %>
					<% end %>
				</td>
				<td>
					<% if exam.finish_date %>
						<%= l exam.finish_date %>
					<% end %>
				</td>
				<td>
					<%= exam.exam_status_kind.display_name %>
				</td>
				<td>
					<%= exam_options_helper exam %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
