<% unless @attendance.attendance_status_kind == AttendanceStatusKind.find_by({name: 'Concluído'}) %>
	<%= link_to 'Nova amostra', new_sample_path(@attendance), {class: 'btn btn-lg btn-outline-success float-right mb-4', id: 'btn-new-sample'} %>
<% end %>

<table class = 'table table-bordered text-center mt-3'>
	<thead class = 'text-white bg-dark'>
		<th>
			<h4>
				<%= Sample.human_attribute_name(:sample_kind) %>
			</h4>
		</th>
		<!-- <th>
			<h4>
				Código lab
			</h4>
		</th> -->
		<th>
			<h4>
				<%= Sample.human_attribute_name(:collection_date) %>
			</h4>
		</th>
		<th>
			<h4>
				Armazenamento
			</h4>
		</th>
		<th>
			<h4>
				<%= Sample.human_attribute_name(:has_subsample) %>
			</h4>
		</th>
		<th></th>
	</thead>
	<tbody>
		<% @attendance.samples.each do |sample| %>
			<tr>
				<td>
					<%= sample.sample_kind.name %>
				</td>
				<!-- <td>
					<%= sample.refference_label %>
				</td> -->
				<td>
					<%= l sample.collection_date %>
				</td>
				<td>
					<%= sample.storage_location %>
				</td>
				<td>
					<% if sample.has_subsample %>
						Sim
					<% else %>
						Não
					<% end %>
				</td>
				<td>
					<% if sample.sample_kind != SampleKind.find_by(name: 'Liquor') %>
						<%= link_to 'Extrair subamostra', new_sub_sample_path(sample), {class: 'btn btn-sm btn-outline-primary new-subsample'} %>
					<% end %>
					<%= link_to 'Código de setor', new_internal_code_path(sample, target: "sample"), class: 'btn btn-sm btn-outline-secondary', id: 'btn-internal-code' %>
					<%= link_to 'Editar', edit_sample_path(sample), {class: 'btn btn-sm btn-outline-warning', id: 'btn-edit-sample'} %>
					<% if sample.internal_codes.size == 0 && sample.subsamples.size == 0 %>
						<%= link_to 'Remover', sample_path(sample), {data: { confirm: "Tem certeza ?" }, class: 'btn btn-sm btn-outline-danger', method: :delete, id: 'btn-remove-sample'} %>
					<% end %>
				</td>
		<% end %>

		<% @attendance.subsamples.each do |subsample| %>
			<tr>
				<td>
					<%= subsample.subsample_kind.name %>
				</td>
				<td>
					<%= l subsample.collection_date.to_date %>
				</td>
				<td>
					<%= subsample.storage_location %>
				</td>
				<td>
					-
				</td>
				<td>
					<%= link_to "Código interno", new_internal_code_path(subsample, target: "subsample"), class: 'btn btn-sm btn-outline-secondary', id: 'btn-internal-code'%>
					<%= link_to 'Editar', edit_subsample_path(subsample), {class: 'btn btn-sm btn-outline-warning', id: 'btn-edit-subsample'} %>
					<% if subsample.internal_codes.empty? %>
						<%= link_to 'Remover', subsample_path(subsample),{data: { confirm: "Tem certeza ?" },method: :delete, class: 'btn btn-sm btn-outline-danger', id: 'btn-remove-subsample'} %>
					<% end %>
				</td>
			</tr>
		<% end %>


	</tbody>
</table>

<hr>

<h3 class="text-center">
	Códigos internos
</h3>

<hr>

<table class="table table-bordered col-md-8 offset-md-2 text-center">
	<thead class="text-white bg-secondary">
		<th>
			Setor
		</th>
		<th>
			Código
		</th>
		<th>
			Amostra
		</th>
		<th></th>
	</thead>
	<tbody>
		<% @attendance.internal_codes.each do |internal_code| %>
			<tr class="internal-code">
				<td>
					<%= internal_code.field.name %>
				</td>
				<td>
					<%= internal_code.code %>
				</td>
				<td>
					<% if internal_code.sample.nil? == false %>
						<%= internal_code.sample.sample_kind.name %>
					<% elsif internal_code.subsample.nil? == false %>
						<%= internal_code.subsample.subsample_kind.name %>
					<% else %>
						-
					<% end %>
				</td>
				<td>
					<% if internal_code.exams.empty? %>
						<%= link_to 'Remover', internal_code_path(internal_code, target: "subsample"), {data: { confirm: "Tem certeza ?" }, class: 'btn btn-sm btn-outline-danger btn-remove-internal-code', method: :delete, id: 'btn-remove-sample'} %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
