<%= link_to 'Nova amostra', new_sample_path(@attendance), {class: 'btn btn-lg btn-outline-success float-right mb-4', id: 'btn-new-sample'} %>

		<table class = 'table table-bordered text-center mt-3'>
			<thead class = 'text-white bg-dark'>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:sample_kind) %>
					</h4>
				</th>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:refference_label) %>
					</h4>
				</th>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:bottles_number) %>
					</h4>
				</th>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:collection_date) %>
					</h4>
				</th>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:storage_location) %>
					</h4>
				</th>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:has_subsample) %>
					</h4>
				</th>
				<th></th>
			</thead>
			<tbody>
				<% @attendance.samples.each do |sample| %>
					<tr>
						<td>
							<%= sample.sample_kind.name %>
						</td>
						<td>
							<%= sample.refference_label %>
						</td>
						<td>
							<%= sample.bottles_number %>
						</td>
						<td>
							<%= l sample.collection_date %>
						</td>
						<td>
							<%= sample.storage_location %>
						</td>
						<td>
							<% if sample.has_subsample %>
								Sim
							<% else %>
								Não
							<% end %>
						</td>
						<td>
							<% if sample.sample_kind != SampleKind.find_by(name: 'Liquor') %>
								<%= link_to 'Extrair subamostra', new_sub_sample_path(sample), {class: 'btn btn-sm btn-outline-primary new-subsample'} %>
							<% end %>
							<%= link_to 'Editar', edit_sample_path(sample), {class: 'btn btn-sm btn-outline-warning', id: 'btn-edit-sample'} %>
							<%= link_to 'Remover', sample_path(sample), {data: { confirm: "Tem certeza ?" }, class: 'btn btn-sm btn-outline-danger', method: :delete, id: 'btn-remove-sample'} %>
						</td>
				<% end %>
			</tbody>
		</table>
