<table class = 'table table-bordered text-center'>
	<thead class = 'bg-dark text-white'>
		<th>
			Label
		</th>
		<th>
			Tipo
		</th>
		<th>
			Armazenamento
		</th>
		<th>
			Coletado em
		</th>
		<th></th>
	</thead>
	<tbody>
		<% @attendance.samples.each do |sample| %>
			<% sample.subsamples.each do |subsample| %>
				<tr>
					<td>
						<%= subsample.refference_label %>
					</td>
					<td>
						<%= subsample.subsample_kind.name %>
					</td>
					<td>
						<%= subsample.storage_location %>
					</td>
					<td>
						<%= subsample.collection_date.strftime("%d/%m/%Y %H:%M") %>
					</td>
					<td>
						<%= link_to 'Editar', edit_subsample_path(subsample), {class: 'btn btn-sm btn-outline-warning', id: 'btn-edit-subsample'} %>
						<% if subsample.exams.size == 0 %>
							<%= link_to 'Remover', subsample_path(subsample),{data: { confirm: "Tem certeza ?" },method: :delete, class: 'btn btn-sm btn-outline-danger', id: 'btn-remove-subsample'} %>
						<% end %>
					</td>
			<% end %>
		<% end %>
	</tbody>
</table>
