<table class = 'table table-bordered text-center mt-5'>
	<thead class="text-white bg-dark">
		<th>
			<h4>
				<%= WorkMap.human_attribute_name :name %>
			</h4>
		</th>
		<th>
			<h4>
				<%= WorkMap.human_attribute_name :date %>
			</h4>
		</th>
		<th>
		</th>
	</thead>
	<tbody>
		<% @attendance.work_maps.order(:date).each do |work_map| %>
			<tr>
				<td>
					<%= work_map.name %>
				</td>
				<td>
					<%= l work_map.date %>
				</td>
				<td>
					<%= link_to 'Abrir mapa', work_map_path(work_map), {class: 'btn btn-sm btn-outline-info'} %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>