<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2 class="text-danger">
          Há erros no formulário, por favor verifique.
        </h2>
        <ul class="text-danger" id="error-list">
        <% @user.errors.full_messages.each do |message| %>
          <li class="error"><%= message %></li>
        <% end %>
        </ul>
      </div>
     <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, {class: 'form-control', required: true} %>
    </div>
    <div class="form-group">
      <%= f.label :login %>
      <%= f.text_field :login, {class: 'form-control', required: true} %>
    </div>
    <% if @user.id.nil? %>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, {class: 'form-control', required: true} %>
      </div>
      <div class = 'form-group'>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, {class: 'form-control', required: true} %>
      </div>
    <% end %>
    <div class='form-group'>
      <%= f.label :kind %>
      <% if @user.kind.nil? %>
        <%= f.select :kind, options_for_select(User.kinds_for_select), {}, {class: 'form-control'} %>
      <% else %>
        <%= f.select :kind, options_for_select(User.kinds_for_select, selected: @user.kind), {}, {class: 'form-control'} %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :fields %>
      <div class="text-center">
        <% @fields.each do |field| %>
          <% if @user.fields.include?(field) %>
            <%= f.check_box :fields, { multiple: true,  checked: true }, field.id, false %>
          <% else %>
            <%= f.check_box :fields, { multiple: true }, field.id, false %>
          <% end%>
          <label for="<%= "user_fields_#{field.id}"%>" class="mr-3">
            <%= field.name %>
          </label>
        <% end %>
      </div>
    </div>

    <button id="btn-save" class="btn btn-outline-primary float-right">
      Salvar
    </button>

<% end %>
