<%= render 'layouts/admin_navbar' %>

<% if params[:kind].nil? == false && params[:kind] == 'admin'%>
  <h3 class = 'text-center mt-2'>Admnistradores</h3>
<% elsif params[:kind].nil? == false && params[:kind] == 'user'%>
  <h3 class = 'text-center'>Usuários</h3>
<% end %>
<table class = 'table text-center mt-3 col-md-8 offset-md-2'>
  <thead class="bg-dark text-white">
    <th>
      <h3>Login</h3>
    </th>
    <th>
      <h3>Nome</h3>
    </th>
    <% if params[:kind].nil? == true %>
      <th><h3>Tipo</h3></th>
    <% end %>
    <th>
      <h3>Status</h3>
    </th>
    <th></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.name %></td>
        <% if params[:kind].nil? %>
          <td> 
            <% if user.user_kind.name == 'admin' %>
              <span class = 'text-primary'><%= user.user_kind.name %></span>
            <% elsif user.user_kind.name == 'user' %>
              <span class = 'text-secondary'><%= user.user_kind.name %></span>
            <% end %> 
          </td>
        <% end %>
        <% if user.is_active %>
          <td>
            <span class = 'text-success'>Ativo</span>
          </td>
        <% else %>
          <td>
            <span class = 'text-secondary'>Inativo</span>
          </td>
        <%end%>
        <td>
          <% if user.is_active %>
            <button>Editar</button>
            <%= link_to 'Desabilitar', user_path(user), {method: :delete, data: {confirm: 'Tem certeza ?'}, class: 'btn btn-sm btn-outline-danger'} %> 
          <% else %>
            <!-- <button>Habilitar</button> -->
            <%= link_to 'Habilitar', activate_user_path(user), {method: :post, class: 'btn btn-sm btn-outline-info'} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>