<%= render 'layouts/admin_navbar' %>

<% if params[:kind].present? && params[:kind] == 'admin'%>
  <h3 class = 'text-center mt-2'>Admnistradores</h3>
<% elsif params[:kind].present? && params[:kind] == 'user'%>
  <h3 class = 'text-center'>Usuários</h3>
<% end %>

<table class = 'table text-center mt-3 col-md-8 offset-md-2'>
  <thead class="bg-dark text-white">
    <th class="h3">
      Login
    </th>
    <th class="h3">
      Nome
    </th>
    <th class="h3">Tipo
    </th>
    <th class="h3">
      Status
    </th>
    <th class="h3"></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.name %></td>
        <td><%= show_user_kind user%></td>
        <td><%= show_is_active user.is_active %></td>
        <td>
          <% if user.is_active %>
            <%= link_to 'Editar', edit_user_path(user), {class: 'btn btn-sm btn-outline-warning edit-user'} %>
            <%= link_to 'Desabilitar', user_path(user), {method: :delete, data: {confirm: 'Tem certeza ?'}, class: 'btn btn-sm btn-outline-danger'} %>
            <%= link_to 'Alterar senha', change_password_view_path(user), {method: :get, class: 'btn btn-sm btn-outline-secondary'} %>
          <% else %>
            <%= link_to 'Habilitar', activate_user_path(user), {method: :post, class: 'btn btn-sm btn-outline-info'} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
