<%= render 'layouts/admin_navbar' %>

<% if params[:kind].present? && params[:kind] == 'admin'%>
  <h3 class = 'text-center mt-2'>Admnistradores</h3>
<% elsif params[:kind].present? && params[:kind] == 'user'%>
  <h3 class = 'text-center'>Usuários</h3>
<% end %>

<table>
  <thead>
    <th>Login</th>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.name %></td>
        <td><%= show_user_kind user%></td>
        <td><%= show_is_active user.is_active %></td>
        <td>
          <% if user.is_active %>
            <%= link_to 'Editar', edit_user_path(user), {class: 'btn btn-sm btn-outline-warning edit-user'} %>
            <%= link_to 'Desabilitar', user_path(user), {method: :delete, data: {confirm: 'Tem certeza ?'}, class: 'btn btn-sm btn-outline-danger'} %>
            <%= link_to 'Alterar senha', edit_user_path(user, change_passowrd: true), {method: :get, class: 'btn btn-sm btn-outline-secondary'} %>
          <% else %>
            <%= link_to 'Habilitar', user_path(user, reactivate: true), {method: :patch, class: 'btn btn-sm btn-outline-info'} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
