<div class="form-group">
  <%= f.label :patient %>
  <%= text_field_tag :patient, @attendance.patient.name, class: 'form-control', disabled: true %>
  <%= f.text_field :patient_id, value: @attendance.patient.id, hidden: true %>
</div>

<div class="form-group">
  <%= f.label :desease_stage %>
  <%= f.select :desease_stage, options_for_select(Attendance.desease_stages_for_select), {}, {class: 'form-control'} %>
</div>

<div class="form-group">
  <%= f.label :cid_code %>
  <%= f.text_field :cid_code, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :lis_code %>
  <%= f.text_field :lis_code, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :health_ensurance %>
  <%= f.select :health_ensurance_id, options_from_collection_for_select(@health_ensurances, 'id', 'name'), { include_blank: true }, {class: 'form-control'} %>
</div>

<div class="form-group">
  <%= f.label :doctor_name %>
  <%= f.text_field :doctor_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :doctor_crm %>
  <%= f.text_field :doctor_crm, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :observations %>
  <%= f.text_area :observations, class: "form-control" %>
</div>
