<div style="overflow: auto;">

  <div class="form-group">
    <%= label_tag Field.model_name.human %>
    <%= select_tag :field_select, options_from_collection_for_select(@fields, "id", "name"), {class: 'form-control', id: 'fields_select'} %>
  </div>

  <div class="form-group">
    <%= label_tag Exam.model_name.human %>
    <%= select_tag :exam_select, options_from_collection_for_select(@exams, "id", "name"), {class: 'form-control', id: 'exams_select'} %>
  </div>

  <%= f.text_field :exams, {id: 'exam_ids', hidden: true} %>

  <button id="btn_add_exam" class="btn btn-outline-info float-right">
    Adicionar
  </button>

</div>

<table class="table table-bordered text-center mt-5">
  <thead class="bg-dark text-white">
    <th class="w-50">
      <h4>
        Exame
      </h4>
    </th>
    <th class="w-25">
      <h4>
        Área
      </h4>
    </th>
    <th hidden>Id</th>
    <th class="w-25"></th>
    <th hidden>Index</th>
  </thead>
  <tbody id="exams_table">
  </tbody>
</table>

<script>
  $('#fields_select option:eq(0)').prop('selected', true)
  let lines = $('#exams_table').find('tr')
  if (lines.length === 0)
    $('#exam_ids').val('')
</script>

<script>
  function remove_line(event){
    event.preventDefault()
    let line_to_remove = event.target.parentNode.parentNode
    let index_to_remove = parseInt($(line_to_remove).find('.index').text())
    let current_exams = $('#exam_ids').val()
    current_exams = JSON.parse(current_exams)
    delete current_exams[index_to_remove]
    current_exams = current_exams.filter(Boolean);
    line_to_remove.remove()
    $('#exam_ids').val(JSON.stringify(current_exams))
    document.querySelectorAll('.index').forEach((element, index) => $(element).text(index))
  }
</script>

<script>
  function add_line (offered_exam = {}) {
    let current_index = $('.id').length
    $('#exams_table').append(`
        <tr>
          <td>${offered_exam.name}</td>
          <td>${offered_exam.field}</td>
          <td class="id" hidden>${offered_exam.id}</td>
          <td class="index" hidden>${current_index}</td>
          <td>
            <button class="btn btn-sm btn-outline-danger" onclick="remove_line(event)">
              Remover
            </button>
          </td>
        </tr>
      `)
  }
</script>

<script>
  $('#btn_add_exam').click(event => {
    event.preventDefault()
    let field = $('#fields_select option:selected').text().trim()
    let exam_name = $('#exams_select option:selected').text().trim()
    let exam_id = $('#exams_select').val()
    let current_value = $('#exam_ids').val()
    let exam = {
      offered_exam_id: exam_id
    }
    if (current_value.length === 0){
      $('#exam_ids').val(JSON.stringify([exam]))
      add_line({name: exam_name, field: field, id: exam_id})
    }else{
      current_value = JSON.parse(current_value)
      let already_has_exam_id = false
      current_value.forEach(offered_exam => {
        if (offered_exam.offered_exam_id === exam.offered_exam_id)
          already_has_exam_id = true
      })
      if (already_has_exam_id === false){
        current_value.push(exam)
        $('#exam_ids').val(JSON.stringify(current_value))
        add_line({name: exam_name, field: field, id: exam_id})
      }
    }
  })
</script>

<script>
  $('#fields_select').change(() => {
    let field_id = $('#fields_select').val()
    axios.get(`/offered_exams/field/${field_id}`)
        .then(function (response) {
          $('#exams_select').find("option").remove()
          response.data.forEach(exam => {
            $('#exams_select').append(`
                <option value = ${exam.id}>
                  ${exam.name}
                </option>
              `)
          })
        })
        .catch(function (error) {
          console.log(error)
          alert('Houve um erro no servidor, tente novamente mais tarde')
        })
  })
</script>
