<%= render "layouts/user_navbar" %>

<div class="mt-3">
  <div class="col-5 d-inline-block border-right offset-1">
    <%= form_with url: reagents_path, method: :get do |form| %>
      <div class="form-group">
        <%= form.text_field :name, class: 'form-control', placeholder: "Buscar reagnte por nome" %>
      </div>
      <button id="btn-search-by-name" class="btn btn-outline-info float-right">
        Buscar
      </button>
    <% end %>
  </div>
  <div class="col-5 d-inline-block">
    <%= form_with url: reagents_path, method: :get do |form| %>
      <div class="form-group">
        <%= form.select :field_id, options_for_select(["Compartilhado"]) + options_from_collection_for_select(@fields, "id", "name"), {}, class: 'form-control'%>
      </div>
      <button id="btn-search-by-field" class="btn btn-outline-info float-right">
        Buscar
      </button>
    <% end %>
  </div>
</div>

<hr>

<table class="table table-bordered text-center mt-2">
  <thead class="text-white bg-dark">
    <th class="h4">
      <%= Reagent.human_attribute_name :name %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :product_description %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :mv_code %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :product_code %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :brand %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :field %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :usage_per_test %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :first_warn_at %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :danger_warn_at %>
    </th>
    <th></th>
  </thead>
  <tbody>
    <% @reagents.each do |reagent| %>
      <tr class="reagent">
        <td>
          <%= reagent.name %>
        </td>
        <td>
          <%= reagent.product_description %>
        </td>
        <td>
          <%= reagent.mv_code%>
        </td>
        <td>
          <%= reagent.product_code %>
        </td>
        <td>
          <%= reagent.brand.name %>
        </td>
        <td>
          <%= reagent.display_field %>
        </td>
        <td>
          <%= reagent.usage_per_test %>
        </td>
        <td>
          <%= reagent.first_warn_at %>
        </td>
        <td>
          <%= reagent.danger_warn_at %>
        </td>
        <th>
          <%= link_to "Editar", edit_reagent_path(reagent), class: 'btn btn-sm btn-outline-warning edit-reagent' %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container pagination justify-content-center" >
  <%= paginate @reagents , theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
</div>
