<%= render "layouts/user_navbar" %>

<table class="table table-bordered text-center mt-5">
  <thead class="text-white bg-dark">
    <th class="h4">
      <%= Reagent.human_attribute_name :name %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :product_description %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :mv_code %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :product_code %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :brand %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :usage_per_test %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :first_warn_at %>
    </th>
    <th class="h4">
      <%= Reagent.human_attribute_name :danger_warn_at %>
    </th>
  </thead>
  <tbody>
    <% @reagents.each do |reagent| %>
      <tr>
        <td>
          <%= reagent.name %>
        </td>
        <td>
          <%= reagent.product_description %>
        </td>
        <td>
          <%= reagent.mv_code%>
        </td>
        <td>
          <%= reagent.product_code %>
        </td>
        <td>
          <% if reagent.brand %>
            <%= reagent.brand.name %>
          <% end %>
        </td>
        <td>
          <%= reagent.usage_per_test %>
        </td>
        <td>
          <%= reagent.first_warn_at %>
        </td>
        <td>
          <%= reagent.danger_warn_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
