<p id="notice"><%= notice %></p>

<p>
  <strong>Product description:</strong>
  <%= @reagent.product_description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reagent.name %>
</p>

<p>
  <strong>Stock itens:</strong>
  <%= @reagent.stock_itens %>
</p>

<p>
  <strong>Usage per test:</strong>
  <%= @reagent.usage_per_test %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @reagent.brand %>
</p>

<p>
  <strong>Total aviable:</strong>
  <%= @reagent.total_aviable %>
</p>

<p>
  <strong>Field:</strong>
  <%= @reagent.field %>
</p>

<p>
  <strong>First warn at:</strong>
  <%= @reagent.first_warn_at %>
</p>

<p>
  <strong>Danger warn at:</strong>
  <%= @reagent.danger_warn_at %>
</p>

<%= link_to 'Edit', edit_reagent_path(@reagent) %> |
<%= link_to 'Back', reagents_path %>
