<h3 class="text-center">
  Amostras
</h3>

<form style="overflow: auto;">
  <div class="form-group">
    <label for="">
      Código interno
    </label>
    <input id="internal-code" name="internla-code" class="form-control">
  </div>
  <button id="btn-search" class="btn btn-outline-info float-right">
    Buscar
  </button>
</form>

<table class="table table-bordered text-center mt-3">
  <thead class="bg-dark text-white">
    <th class="w-25">
      Código interno
    </th>
    <th class="w-25">
      Área
    </th>
    <th class="w-25"></th>
  </thead>
  <tbody id="samples">
  </tbody>
</table>

<hr class="mt-3">

<%= form_with model: @work_map, multipart: true, id: 'form', html: {style: 'overflow: auto;'}  do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :map %>
    <%= form.file_field :map %>
  </div>

  <div class="form-group" style="display: none;">
    <%= form.label "Internal codes" %>
    <%= form.text_field :internal_code_ids, id: "internal-code-ids" %>
  </div>

  <button id="btn-save" class="btn btn-outline-primary float-right">
    Salvar
  </button>

<% end %>

<!-- <script>
  $('#btn-search').click(event => {
    event.preventDefault()
    let code = $('#internal-code').val()
    axios
        .get(`/internal_codes/code/${code}`)
        .then(response => {
          let current_value = $('#internal-code-ids').val()
          let ids = current_value.split(',')
          if(ids.includes(response.data.id.toString()) === false){
            ids.push(response.data.id)
            let new_value = ids.join(',')
            $('#internal-code-ids').val(new_value)
            $('#samples').append(`
              <tr id="internal-code-${response.data.id}" class="internal-code">
                <td>
                  ${response.data.code}
                </td>
                <td>
                  ${response.data.field.name}
                </td>
                <td>
                  <button class="btn btn-sm btn-outline-danger remove" data-reference-value="${response.data.id}" onclick="remove_internal_code(event)">
                    Remover
                  </button>
                </td>
              </tr>
            `)
            $('#internal-code').val("")
          }
        })
      .catch(error => {
        if(error.response.status === 404)
          alert('Amostra não encontrada.')
        else
          alert('Houve um erro no servidor, tente novamente mais tarde.')
      })
  })
</script>

<script>
  function remove_internal_code(event){
    event.preventDefault()
    let reference_value = $(event.target).attr('data-reference-value')
    $(`#internal-code-${reference_value}`).remove()
    let current_ids = $('#internal-code-ids').val().split(',')
    let index = current_ids.indexOf(reference_value)
    current_ids.splice(index, 1);
    let new_value = current_ids.join(',')
    $('#internal-code-ids').val(new_value)
  }
</script>

<script>
  $('#form').submit(() => {
    let internal_code_ids = $('#internal-code-ids').val()
    internal_code_ids = internal_code_ids.split(',')
    internal_code_ids = internal_code_ids.filter(Boolean)
    console.log(internal_code_ids);
    $('#internal-code-ids').val(internal_code_ids.join(','))
  })
</script> -->
