<%= form_for(@work_map, html: { multipart: true }) do |f| %>
  <% if @work_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_map.errors.count, "error") %> prohibited this work_map from being saved:</h2>

      <ul>
      <% @work_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, {class: 'form-control', required: true} %>
  </div>

  <div class="form-group">
    <%= f.label :map %><br/>
    <%= f.file_field :map, {required: true} %>
  </div>

  <hr/>

  <div class="col-md-12 p-0 mt-2" style="overflow: auto;">

    <div class="col-md-5 offset-md-1 d-inline-block border-right" style="overflow: auto;">
      <h3 class="text-center">Amostra</h3>
      
      <div class = 'form-group'>
        <label>Tipo de amostra</label>
        <select id = 'sample_kind' class = 'form-control'>
          <option>Selecione uma opção</option>
          <%= @sample_kinds.each do |sample_kind| %>
            <option value = "<%= sample_kind.id %>">
              <%= sample_kind.name %>
            </option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <label>Amostra</label>
        <select id = 'sample' class="form-control"></select>
      </div>

      <button id='btn_add_sample' class='btn btn-outline-primary float-right mb-2'>
        Adicionar
      </button>

      <%= f.text_field :sample_ids, {id: 'samples_ids', hidden: true}%>

    </div>

    <div class="col-md-5 d-inline-block" style="overflow: auto;">
      <h3 class="text-center">Subamostra</h3>
      
      <div class = 'form-group'>
        <label>Tipo de subamostra</label>
        <select id="subsample_kind" class="form-control">
          <option>Selecione uma opção</option>
          <%= @subsample_kinds.each do |subsample_kind| %>
            <option value='<%= subsample_kind.id %>'>
              <%= subsample_kind.name %>
            </option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <label>Subamostra</label>
        <select id='subsample' class="form-control"></select>
      </div>

      <%= f.text_field :subsample_ids, {id: 'subsample_ids', hidden: true} %>

      <button id="btn_add_subsample" class="btn btn-outline-primary float-right mb-2">
        Adicionar
      </button>

    </div>

  </div>

  <table class="table table-bordered text-center mt-4 col-md-10 offset-md-1">
    <thead class="text-white bg-dark">
      <th class = 'w-75'>
        <h4>
          Amostra
        </h4>
      </th>
      <th hidden>
        <h4>
          Tipo da amostra
        </h4>
      </th>
      <th>
      </th>
    </thead>
    <tbody id = 'samples_table'>
      <% if @work_map.samples %>
        <% @work_map.samples.each do |sample| %>
          <tr>
            <td>
              <%= sample.refference_label %>
            </td>
            <td hidden>
              <label class = 'kind'>samples</label>
            </td>
            <td hidden>
              <label class = 'id'><%= sample.id %></label>
            </td>
            <td>
              <button class="btn btn-sm btn-outline-danger" onclick="remove_line(event)">
                Remover
              </button>
            </td>
          </tr>
        <% end %>
      <% end %>
      <% if @work_map.subsamples %>
        <% @work_map.subsamples.each do |subsample| %>
          <tr>
            <td>
              <%= subsample.refference_label %>
            </td>
            <td hidden>
              <label class = 'kind'>subsample</label>
            </td>
            <td hidden>
              <label class = 'id'><%= subsample.id %></label>
            </td>
            <td>
              <button class="btn btn-sm btn-outline-danger" onclick="remove_line(event)">
                Remover
              </button>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <button id='btn_save' class="btn btn-outline-primary float-right">
    Salvar
  </button>
<% end %>

<script>
  $('#btn_save').click(event => {
    let samples = $('#samples_ids').val()
    let subsamples = $('#subsample_ids').val()
    if (samples === "" && subsamples === ""){
      event.preventDefault()
      alert('Um mapa de trabalho deve estar relacionado a pelo menos uma amostra ou subamostra.')
    }
  })
</script>


<script>
  function remove_line(event){
    event.preventDefault()
    let line = event.target.parentElement.parentElement
    let id = line.querySelector('.id').textContent
    let kind = line.querySelector('.kind').textContent
    let ids = $(`#${kind}_ids`).val().split(',')
    let index = ids.indexOf(id)
    delete ids[index]
    ids = ids.filter(Boolean)
    ids = ids.join(',')
    $(line).remove()
    $(`#${kind}_ids`).val(ids)
  }

  function add_line(options = {}){
    $('#samples_table').append(`
        <tr>
          <td>
            ${options.refference_label}
          </td>
          <td hidden>
            <label class = 'kind'>${options.kind}</label>
          </td>
          <td hidden>
            <label class = 'id'>${options.id}</label>
          </td>
          <td>
            <button class = 'btn btn-sm btn-outline-danger' onclick="remove_line(event)">
              Remover
            </button>
          </td>
        </tr>
      `)
  }
</script>

<script>
  $('#btn_add_subsample').click(event => {
    event.preventDefault()
    let new_subsample_id = $('#subsample').val()
    let ids_list = $('#subsample_ids').val().split(',')
    if (ids_list.includes(new_subsample_id) === false){
      if ($('#subsample_ids').val().length === 0)
        $('#subsample_ids').val(new_subsample_id)
      else{
        let current_ids = $('#subsample_ids').val()
        $('#subsample_ids').val(`${current_ids},${new_subsample_id}`)
      }
      add_line({
          refference_label: $('#subsample option:selected').text(),
          kind: 'subsample',
          id: new_subsample_id
        })
    }
  })
</script>

<script>
  $('#subsample_kind').change(() => {
    let subsample_kind_id = $('#subsample_kind').val()
    $('.subsample_option').remove()
    axios.get(`/subsamples?subsample_kind=${subsample_kind_id}`)
      .then(function (response) {
        response.data.forEach(subsample => {
          $('#subsample').append(`
              <option class = 'subsample_option' value = ${subsample.id}>
                ${subsample.refference_label}
              </option>
            `)
        })
      })
      .catch(function (error) {
        console.log(error)
        alert('Houve um erro no servidor, tente novamente mais tarde')
      })
  })
</script>

<script>
  $('#btn_add_sample').click(event => {
    event.preventDefault()
    if ($('#sample').val()){
      let samples_ids_values = $('#samples_ids').val()
      let current_ids = samples_ids_values.split(',')
      if (current_ids.includes($('#sample').val()) == false){
        if ($('#samples_ids').val().length === 0)
          samples_ids_values = `${$('#sample').val()}`
        else
          samples_ids_values += `,${$('#sample').val()}`
        $('#samples_ids').val(samples_ids_values)
        add_line({
          refference_label: $('#sample option:selected').text(),
          kind: 'samples',
          id: $('#sample').val()
        })
      }
    }
  })
</script>

<script>
  $('#sample_kind').change(() => {
    let sample_kind_id = $('#sample_kind').val()
    $('.sample_option').remove()
    axios.get(`/samples?sample_kind=${sample_kind_id}`)
      .then(function (response) {
        response.data.forEach(sample => {
          $('#sample').append(`
              <option class = 'sample_option' value = ${sample.id}>
                ${sample.refference_label}
              </option>
            `)
        })
      })
      .catch(function (error) {
        console.log(error)
        alert('Houve um erro no servidor, tente novamente mais tarde')
      })
  })
</script>