<%= form_for(@work_map) do |f| %>
  <% if @work_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_map.errors.count, "error") %> prohibited this work_map from being saved:</h2>

      <ul>
      <% @work_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12 p-0 mt-5" style="overflow: auto;">

    <div class="col-md-5 offset-md-1 d-inline-block border-right">
      <h3>Amostra</h3>
      
      <div class = 'form-group'>
        <label>Tipo de amostra</label>
        <select id = 'sample_kind' class = 'form-control'>
          <option>Selecione uma opção</option>
          <%= @sample_kinds.each do |sample_kind| %>
            <option value = "<%= sample_kind.id %>">
              <%= sample_kind.name %>
            </option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <label>Amostra</label>
        <select id = 'sample' class="form-control"></select>
      </div>

      <button id='btn_add_sample' class='btn btn-outline-primary float-right mb-2'>
        Adicionar
      </button>

    </div>






    <div class="col-md-5 bg-info d-inline-block">
      <h3>Amostra</h3>
      <div class = 'form-group'>
        <label>Tipo de amostra</label>

      </div>
    </div>

  </div>

  <table class="table table-bordered text-center mt-4">
    <thead class="text-white bg-dark">
      <th>
        <h4>
          Amostra
        </h4>
      </th>
      <th>
        <h4>
          Tipo da amostra
        </h4>
      </th>
      <th>
      </th>
    </thead>
    <tbody id = 'samples_table'>     
    </tbody>
  </table>





  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
  $('#btn_add_sample').click(event => {
    event.preventDefault()
    console.log($('#sample').val())
    if ($('#sample').val()){
      $('#samples_table').append(`
          <tr>
            <td>
              ${$('#sample_kind option:selected').text()}
            </td>
            <td>
              ${$('#sample').text()}
            </td>
            <td>
            </td>
          </tr>
        `)
    }
    
  })

</script>






<script>
  $('#sample_kind').change(() => {
    let sample_kind_id = $('#sample_kind').val()
    $('.sample_option').remove()
    axios.get(`/samples?sample_kind=${sample_kind_id}`)
      .then(function (response) {
        response.data.forEach(sample => {
          $('#sample').append(`
              <option class = 'sample_option' value = ${sample.id}>
                ${sample.refference_label}
              </option>
            `)
        })
      })
      .catch(function (error) {
        console.log(error)
        alert('Houve um erro no servidor, tente novamente mais tarde')
      })
  })
</script>