<%= render 'layouts/user_navbar' %>


<table class="table table-bordered text-center mt-5 col-md-10 offset-md-1">
  <thead class="bg-dark text-white">
    <tr>
      <th>
        <h4><%= WorkMap.human_attribute_name :name %></h4>
      <th>
        <h4><%= WorkMap.human_attribute_name :date %></h4>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @work_maps.each do |work_map| %>
      <tr>
        <td>
          <%= work_map.name %>
        </td>
        <td>
          <%= l work_map.date %>
        </td>
        <td>
          <!-- <button>
            Visualizar
          </button> -->
          <%= link_to 'Visualizar', work_map_path(work_map), {class: 'btn btn-sm btn-outline-info'} %>
          <button>
            Editar
          </button>
          <button>
            Remover
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
