<p id="notice"><%= notice %></p>

<h1>Listing Work Maps</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_maps.each do |work_map| %>
      <tr>
        <td><%= work_map.data %></td>
        <td><%= link_to 'Show', work_map %></td>
        <td><%= link_to 'Edit', edit_work_map_path(work_map) %></td>
        <td><%= link_to 'Destroy', work_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work map', new_work_map_path %>
