<h3 class="text-center mt-5">
  <%= @patient.name %>
</h3>

<table>
  <thead>
    <th>Exame</th>
    <th>Área</th>
    <th>Data de início</th>
    <th>Status</th>
    <th>Atendimento (Lis)</th>
  </thead>
  <tbody>
    <% @patient.exams.each do |exam| %>
      <tr>
        <td><%= exam.offered_exam.name %></td>
        <td><%= exam.offered_exam.field.name %></td>
        <td>
          <% unless exam.start_date.nil? %>
            <%= l exam.start_date %>
          <% else %>
            -
          <% end %>
        </td>
        <td><%= show_exam_status exam.status %></td>
        <td>
          <%= link_to exam.attendance.lis_code, attendance_path(exam.attendance, tab: :exams) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
