<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-danger">Os seguintes erros foram encontrados no formulário:</h2>
      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li>
          <span class = 'text-danger'>
            <%= message %>
          </span>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :birth_date %>
    <br>
    <%= f.date_select :birth_date,{order: [:day, :month, :year], start_year: Date.today.year - 20}, {class: 'form-control date-select '} %>
  </div>
  <div class="form-group">
    <%= f.label :mother_name %>
    <%= f.text_field :mother_name, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :medical_record %>
    <%= f.text_field :medical_record, {class: 'form-control', pattern: "^(0|[1-9][0-9]*)$"} %>
  </div>
  <div class="form-group">
    <%= f.label :hospital %>
    <%= f.select :hospital_id, options_from_collection_for_select(@hospitals, 'id', 'name'), {}, {class: 'form-control'} %>
  </div>

  <%= render 'shared/form_button', locals: {action: locals[:action]} %>
<% end %>
