<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :birth_date %>
    <br>
    <%= f.date_select :birth_date,{order: [:day, :month, :year]}, {class: 'form-control date-select '} %>
  </div>
  <div class="form-group">
    <%= f.label :mother_name %>
    <%= f.text_field :mother_name, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :medical_record %>
    <%= f.number_field :medical_record, {class: 'form-control'} %>
  </div>
  <!-- <div class="actions">
    <%= f.submit %>
  </div> -->
  <%= render 'shared/form_button', locals: {action: locals[:action]} %>
<% end %>
