
<div class="card mt-5 p-0 col-md-8 offset-md-2">
  <div class="card-header">
    <h4 class="text-center d-inline-block text-center">
      Paciente
    </h4>
    <%= link_to "Editar", edit_patient_path(@patient), class: 'btn btn-sm btn-warning float-right ml-4 edit-patient' %>
    <%= link_to "Amostras", patient_path(@patient, samples: true), class: 'btn btn-sm btn-primary float-right ml-4 samples-from-patient'%>
    <%= link_to "Exames", patient_path(@patient, exams: true), class: 'btn btn-sm btn-success float-right ml-4 exams-from-patient' %>
    <%= link_to 'Atendimentos', patient_path(@patient, attendance: true), {class: 'btn btn-sm btn-info float-right ml-4 attendances-from-patient'} %>
  </div>
  <div class="card-body">

    <div class="form-group">
      <%= label_tag Patient.human_attribute_name :name %>
      <%= text_field_tag :name, @patient.name, class: 'form-control', disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag Patient.human_attribute_name :birth_date %>
      <%= text_field_tag :birth_date, @patient.birth_date, class: 'form-control', disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag Patient.human_attribute_name :mother_name %>
      <%= text_field_tag :mother_name, @patient.mother_name, class: 'form-control', disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag Patient.human_attribute_name :medical_record %>
      <%= text_field_tag :medical_record, @patient.medical_record, class: 'form-control', disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag :hospital %>
      <%= text_field_tag :hospital, @patient.hospital.name, class: "form-control", disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag :observations %>
      <%= text_area_tag :observations, @patient.observations, class: 'form-control', rows: "7", disabled: true %>
    </div>

  </div>
</div>
