<%= render 'layouts/user_navbar' %>

<div class="col-md-12 mt-3">
  <div class="d-inline-block col-md-5 offset-md-1 border-right">
    <%= form_tag(patients_path, method: :get) do %>
      <div class="form-group">
        <label>Parte do nome</label>
        <%= text_field_tag :name, '', {class: 'form-control'} %>
      </div>
      <button class="btn btn-outline-info">
        Buscar
      </button>
    <% end %>
  </div>
  <div class="d-inline-block col-md-5">
    <%= form_tag(patients_path, method: :get) do %>
      <div class="form-group">
        <label>Prontuário médico</label>
        <%= text_field_tag :medical_record, '', {class: 'form-control', pattern: "^(0|[1-9][0-9]*)$"} %>
      </div>
      <button class="btn btn-outline-info">
        Buscar
      </button>
    <% end %>
  </div>
</div>

<table class = 'table table-bordered mt-5 text-center'>
  <thead class="bg-dark text-white">
    <th>
      <h4>Nome</h4>
    </th>
    <th>
      <h4>Data de nascimento</h4>
    </th>
    <th>
      <h4>Nome da mãe</h4>
    </th>
    <th>
      <h4>Prontuário</h4>
    </th>
    <th></th>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td>
          <%= patient.name %>
        </td>
        <td>
          <%= l patient.birth_date %>
        </td>
        <td>
          <%= patient.mother_name %>
        </td>
        <td>
          <%= patient.medical_record %>
        </td>
        <td>
          <%= link_to 'Novo atendimento', new_attendance_path(patient) , {class: 'btn btn-sm btn-outline-success'} %>
          <%= link_to 'Atendimentos', attendances_from_patient_path(patient), {class: 'btn btn-sm btn-outline-info'} %>
          <%= link_to 'Editar', edit_patient_path(patient), {class: 'btn btn-sm btn-outline-warning'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="container pagination justify-content-center" >
  <%= paginate @patients , theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
</div>