<%= render 'layouts/user_navbar' %>

<%# TODO: continuar fazendo a filtragem do tipo de amostra ou subamostra que será exibida ... %>

<div class="mt-3">
  <div class="col-md-5 d-inline-block border-right offset-1">
    <%= form_with do |form| %>
      <div class="form-group">
        <label>Amostra</label>
        <%= form.select :sample_kid, options_from_collection_for_select(@sample_kinds, "id", "name"), {}, class: 'form-control' %>
      </div>
      <button class="btn btn-outline-info float-right">
        Buscar
      </button>
    <% end %>
  </div>

  <div class="col-md-5 d-inline-block">
    <%= form_with do |form| %>
      <div class="form-group">
        <label>Subamostra</label>
        <%= form.select :subsample_kid, options_from_collection_for_select(@subsample_kinds, "id", "name"), {}, class: 'form-control' %>
      </div>
      <button class="btn btn-outline-info float-right">
        Buscar
      </button>
    <% end %>
  </div>
</div>

<!-- <div class="text-center mt-3 border-botto">
  <%= link_to @patient.name, patient_path(@patient), class: 'h3' %>
</div> -->

<table class="table table-bordered text-center mt-3">
  <thead class="bg-dark text-white">
    <th>
      <h4>Tipo</h4>
    </th>
    <th>
      <h4>
        Coleta
      </h4>
    </th>
    <th>
      <h4>
        Inicio atendimento
      </h4>
    </th>
    <th>
      <h4>
        Concentração (Nanodrop)
      </h4>
    </th>
    <th>
      <h4>
        260/280
      </h4>
    </th>
    <th>
      <h4>
        260/230
      </h4>
    </th>
    <th>
      <h4>
        Concentração (Qubit)
      </h4>
    </th>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <% attendance.samples.each do |sample| %>
        <tr>
          <td>
            <%= sample.sample_kind.name %>
          </td>
          <td>
            <%= l sample.collection_date %>
          </td>
          <td>
            <%= l attendance.created_at.to_date %>
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
        </tr>
        <% sample.subsamples.each do |subsample| %>
          <tr>
            <td>
              <%= subsample.subsample_kind.name %>
            </td>
            <td>
              <%= l subsample.collection_date.to_date %>
            </td>
            <td>
              <%= l attendance.created_at.to_date %>
            </td>
            <td>
              <%= subsample.nanodrop_report.concentration %>
            </td>
            <td>
              <%= subsample.nanodrop_report.rate_260_280 %>
            </td>
            <td>
              <%= subsample.nanodrop_report.rate_260_230 %>
            </td>
            <td>
              <%= subsample.qubit_report.concentration %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="container pagination justify-content-center" >
  <%= paginate @attendances , theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
</div>
