<%= render 'layouts/user_navbar' %>

<%= render 'layouts/stock_navbar' %>

<table class="table table-sm text-center mt-3">
  <thead class="bg-dark text-white">
    <th class="h4">Produto</th>
    <th class="h4">Área</th>
    <th class="h4">Quantidade em estoque</th>
    <th class="h4">Quantidade em uso</th>
  </thead>
  <tbody>
    <% @stock_products.each do |stock_product| %>
      <tr>
        <td>
          <%= stock_product.name %>
        </td>
        <td>
          <%= display_field stock_product %>
        </td>
        <td>
          <%= display_total_aviable stock_product %>
        </td>
        <td>
          <%= display_total_in_use stock_product %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "layouts/table_footer", elements: @stock_products %>
