<%= render 'layouts/user_navbar' %>

<table class="table table-bordered text-center mt-4">
  <thead class="bg-dark text-white">
    <tr>
      <th class="h5">Nome</th>
      <th class="h5">Código MV</th>
      <th class="h5">Área</th>
      <th class="h5">Total disponível</th>
      <th class="h5">Medido em</th>
      <th class="h5">Uso por teste</th>
      <th class="h5">Primeiro aviso</th>
      <th class="h5">Segundo aviso</th>
    </tr>
  </thead>

  <tbody>
    <% @stock_products.each do |stock_product| %>
      <tr>
        <td><%= stock_product.name %></td>
        <td><%= stock_product.mv_code %></td>
        <td><%= stock_product.display_field %></td>
        <td><%= stock_product.usage_per_test %></td>
        <td><%= stock_product.total_aviable %></td>
        <td><%= stock_product.first_warn_at %></td>
        <td><%= stock_product.danger_warn_at %></td>
        <td><%= stock_product.unit_of_measurement.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
