<%= render 'layouts/admin_navbar' %>

<%= link_to 'Gerar backup', new_backup_path, method: :post, class: 'float-right btn btn-bg btn-outline-success mt-2 mr-3'%>

<table class="table table-bordered col-md-6 offset-md-3 mt-5 text-center">
  <thead class="bg-dark text-white">
    <th>Data de execução</th>
    <th></th>
  </thead>
  <tbody>
    <% @backups.each do |backup| %>
      <tr>
        <td>
          <%= l backup.generated_at %>
        </td>
        <td>
          <% if backup.status %>
            <%= link_to 'Download', backup_download_path(backup), target: :_blank, class: 'btn btn-sm btn-outline-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="container pagination justify-content-center" >
  <%= paginate @backups , theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
</div>
