<%= render 'layouts/admin_navbar' %>

<%= link_to 'Gerar backup', backups_path, method: :post, class: 'float-right btn btn-bg btn-outline-success mt-2 mr-3'%>

<table>
  <thead>
    <th>Data de execução</th>
    <th></th>
  </thead>
  <tbody>
    <% @backups.each do |backup| %>
      <tr>
        <td>
          <%= backup.generated_at.utc.strftime('%H:%M  -  %d/%m/%Y') %>
        </td>
        <td>
          <% if backup.status %>
            <%= link_to 'Download', backup, target: :_blank, class: 'btn btn-sm btn-outline-primary' %>
          <% else %>
            <label>Backup removido</label>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'layouts/table_footer', elements: @backups %>
