<%= render 'layouts/user_navbar' %>

<%= render 'layouts/stock_navbar' %>


<div class="mt-2 col-6 offset-3">
  <%= form_with url: stock_entries_path, method: :get, class: "" do |form| %>
  <%= form.label "Produto", class: "d-inline-block" %>
    <div class="my-1 d-inline-block">
      <%= form.select :stock_product_id, options_from_collection_for_select(@stock_products, "id", "name"), {}, class: "form-control d-inline-block mr-4" %>
    </div>
    <div class="col-auto d-inline-block">
      <button id="search-by-stock-product" class="btn btn-outline-info">
        Buscar
      </button>
    </div>
  <% end %>
</div>

<h2 class="text-center mt-3">
  Entradas de estoque
</h2>

<hr>

<table class="table text-center mt-3">
  <thead class="bg-dark text-white">
    <tr>
      <th>Produto</th>
      <th>Marca</th>
      <th>Quantidade</th>
      <th>Itens</th>
      <th>Data de entrada</th>
      <th>Responsável</th>
      <th>Área</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_entries.each do |stock_entry| %>
      <tr class="stock-entry">
        <td><%= stock_entry.first_product.stock_product.name %></td>
        <td><%= stock_entry.first_product.brand.name %></td>
        <td><%= stock_entry.products.size %></td>
        <td><%= stock_entry.first_product.amount %> (<%= stock_entry.first_product.stock_product.unit_of_measurement.name %>)</td>
        <td><%= l stock_entry.entry_date %></td>
        <td><%= stock_entry.responsible.login %></td>
        <td><%= display_field stock_entry.first_product.stock_product %></td>
        <td>
          <%= link_to 'Editar', edit_stock_entry_path(stock_entry), class: "btn btn-sm btn-outline-warning edit-stock-entry" %>
          <% if stock_entry.can_remove? %>
            <%= link_to "Remover", stock_entry_path(stock_entry), { method: :delete, class: "btn btn-sm btn-outline-danger remove-stock-entry", data: {confirm: 'Tem certeza ?'} } %>
          <% end %>
          <% if stock_entry.products.size > 1 %>
            <%= link_to 'Produtos', stock_entry_path(stock_entry), class: "btn btn-sm btn-outline-info show-products" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="container pagination justify-content-center" >
  <%= paginate @stock_entries , theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
</div>
