<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="suggestion-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Funcionalidades <%= bedge Suggestion.todo.size, :dark %>
  </a>
  <div class="dropdown-menu" aria-labelledby="user-dropdown">
    <%= link_to suggestions_index_admin_path(kind: 'in_progress'), class: 'dropdown-item', id: 'suggestions-in-progress' do %>
      Em desenvolvimento <%= bedge Suggestion.in_progress.size, :info %>
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to suggestions_index_admin_path(kind: 'in_line'), class: 'dropdown-item', id: 'suggestions-in-line' do %>
      Na fila
      <%= bedge Suggestion.in_line.where(kind: :new_feature).size, :primary %>
      <%= bedge Suggestion.in_line.where(kind: :bug_report).size, :danger %>
      <%= bedge Suggestion.in_line.where(kind: :feature_improvement).size, :info %>
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to suggestions_index_admin_path(kind: 'complete'), {class: 'dropdown-item', id: 'suggestions-complete'} do %>
      Concluídos <%= bedge Suggestion.complete.size, :success %>
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to 'Todos', suggestions_index_admin_path, {class: 'dropdown-item', id: 'all-suggestions'} %>
  </div>
</li>
