<%= render 'layouts/user_navbar' %>

<%= render 'layouts/indicators_navbar' %>

<h1 class="text-center mt-5 mb-5 border-bottom">
  Exames concluídos (<span id="complete-exams-count"><%= @exams.complete.size %></span>)
  <%= header %>
</h1>

<%= render 'date_search_form', locals: {search_route: concluded_exams_path} %>

<hr>

<%= pie_chart(@relation) %>
