<%= render 'layouts/user_navbar' %>

<%= render 'layouts/indicators_navbar' %>

<h1 class="text-center mt-5 mb-5 border-bottom">
  Exames realizados por plano de saúde (<span id="total"><%= @exams.size %></span>)
</h1>

<%= pie_chart( @relation ) %>

<hr>

<%= render 'date_search_form', locals: {search_route: health_ensurances_relation_path} %>
