<%= render 'layouts/user_navbar' %>

<%= render 'layouts/stock_navbar' %>

<table class="table table-bordered text-center mt-5 col-6 offset-3 table-sm">
  <thead class="bg-dark text-white">
    <th class="h3">
      Marca
    </th>
    <th></th>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
      <tr class="brand">
        <td>
          <%= brand.name %>
        </td>
        <td>
          <%= link_to "Editar", edit_brand_path(brand), class: "btn btn-sm btn-outline-warning edit-brand" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "layouts/table_footer", elements: @brands %>
