<%= form_with(model: release, local: true) do |form| %>
  <% if release.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% release.errors.full_messages.each do |message| %>
        <li class="error"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :tag %>
    <%= form.text_field :tag, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control" %>
  </div>

  <button id="btn-save" class="btn btn-outline-primary float-right">
    Salvar
  </button>

<% end %>
