<%= render 'layouts/user_navbar' %>

<div class="card col-md-10 offset-md-1 mt-5 p-0">
  <div class="card-header">
  	<h3 class="text-center">
    	Editar exame
  	</h3>
  </div>
  <div class="card-body">
    <%= form_for(@exam, {url: update_exam_path , method: :patch}) do |f| %>

			<div class = 'form-group'>
				<%= f.label :offered_exam %>
        <%= f.select :offered_exam_id, options_from_collection_for_select(@offered_exams, "id", "name", selected: @exam.offered_exam.id), {}, class: 'form-control' %>
			</div>

			<div class = 'form-group'>
				<%= f.label "Código da amostra" %>
        <% if @exam.internal_codes.size == 2 %>
          <%= f.select :internal_code_ids, options_from_collection_for_select(@internal_codes, 'id', 'code', selected: @internal_codes.last.id), {}, {class: 'form-control'} %>
        <% else %>
          <%= f.select :internal_code_ids, options_from_collection_for_select(@internal_codes, 'id', 'code', selected: @exam.internal_codes.first.id), {}, {class: 'form-control'} %>
        <% end %>
      </div>

			<button id="btn-save" class='btn btn-outline-primary float-right'>
				Salvar
			</button>

		<% end %>
  </div>

</div>

<script>

  let has_two_internal_codes = <%= @exam.internal_codes.size %> === 2
  if (has_two_internal_codes)
    $("#exam_internal_code_ids option:last").attr("selected", "selected")

</script>
