<%= render 'layouts/user_navbar' %>

<div class="card col-md-10 offset-md-1 mt-5 p-0">
  <div class="card-header bg-info">
  	<h3 class="text-white text-center">
    	Iniciar exame
  	</h3>
  </div>
  <div class="card-body">
    <%= form_for(@exam, {url:  initiate_exam_url , method: :patch}) do |f| %>

			<div class = 'form-group'>
				<%= f.label :offered_exam %>
				<%= f.text_field :offered_exam, value: @exam.offered_exam.name, disabled: true, class: 'form-control', id: 'exam-name' %>
			</div>

      <% if @internal_codes.size > 0 %>

  			<div class = 'form-group'>
  				<%= f.label "Amostra" %>
  				<% f.select :internal_code_ids, options_from_collection_for_select(@internal_codes, 'id', 'code'), {}, {class: 'form-control'} %>
          <select class="form-control" name="exam[internal_codes]" id="sample_select">
            <% @internal_codes.each do |internal_code| %>
              <option class = "internal-code-option" value="<%= internal_code.id %>">
                <% unless internal_code.sample.nil? %>
                  <%= "#{internal_code.code} - #{internal_code.sample.sample_kind.name}" %>
                <% else %>
                  <%= "#{internal_code.code}" %>
                <% end %>
              </option>
            <% end %>
          </select>
        </div>

  			<button class='btn btn-outline-primary float-right' id="btn-save">
  				Salvar
  			</button>

      <% else %>
        <h5 id="without-sample" class="text-center text-danger">
          Nenhum código interno da <%= @exam.offered_exam.field.name %> encontrado para este atentimento.
        </h5>
      <% end %>

		<% end %>
  </div>

</div>
