<%= render "layouts/user_navbar" %>

<h2 class="text-center mt-3">
  Produtos em uso
</h2>

<hr>

<table class="table table-bordered mt-3 text-center table-sm">
  <thead class="bg-dark text-white">
    <th class="h4">Nome</th>
    <th class="h4">Marca</th>
    <th class="h4">Lote</th>
    <th class="h4">Validade</th>
    <th class="h4">Quantidade</th>
    <th class="h4">Medida</th>
    <th class="h4">Localização</th>
    <th class="h4">Área</th>
    <th class="h4">Identificação</th>
    <th class="h4">Aberto em</th>
    <th></th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr class="product">
        <td>
          <%= product.stock_product.name %>
        </td>
        <td>
          <%= product.brand.name %>
        </td>
        <td>
          <%= product.lot %>
        </td>
        <td>
          <% if product.has_shelf_life %>
            <%= product.display_shelf_life %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <%= product.amount %>
        </td>
        <td>
          <%= product.stock_product.unit_of_measurement.name %>
        </td>
        <td>
          <%= product.location %>
        </td>
        <td>
          <%= product.stock_product.display_field %>
        </td>
        <td>
          <%= product.display_tag %>
        </td>
        <td>
          <%= l product.open_at %>
        </td>
        <td>
          <%= link_to "Dar baixa", new_stock_out_path(product), class: "btn btn-sm btn-outline-danger stock-out", data: { confirm: "Tem certeza ?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container pagination justify-content-center" >
  <%= paginate @products , theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"%>
</div>
