<%= render "layouts/user_navbar" %>
<%= render "layouts/stock_navbar" %>

<h2 class="text-center mt-3">
  <% if params[:kind] == :in_use.to_s %>
    Produtos em uso
  <% elsif params[:kind] == :stock.to_s %>
    Produtos em estoque
  <% end %>
</h2>
<hr>

<%= render "products/search_fields" %>

<table class="table-sm">
  <thead>
    <th>Nome</th>
    <th>Marca</th>
    <th>Lote</th>
    <th>Validade</th>
    <th>Quantidade</th>
    <th>Localização</th>
    <th>Área</th>
    <th>Identificação</th>
    <% if params[:kind] == :in_use.to_s %>
      <th>Aberto em</th>
    <% end %>
    <th></th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr class="product">
        <td>
          <%= product.stock_product.name %>
        </td>
        <td>
          <%= product.brand.name %>
        </td>
        <td>
          <%= product.lot %>
        </td>
        <td>
          <% if product.has_shelf_life %>
            <%= display_shelf_life product %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <%= "#{product.amount} (#{product.stock_product.unit_of_measurement_name})" %>
        </td>
        <td>
          <%= product.location %>
        </td>
        <td>
          <%= display_field product.stock_product %>
        </td>
        <td>
          <%= display_tag product %>
        </td>
        <% if params[:kind] == :in_use.to_s %>
          <td>
            <%= l product.open_at %>
          </td>
        <% end %>
        <td>
          <% if params[:kind] == :in_use.to_s %>
            <%= link_to "Dar baixa", new_stock_out_path(product), class: "btn btn-sm btn-outline-danger stock-out", data: { confirm: "Tem certeza ?" } %>
          <% else %>
            <%= link_to "Colocar em uso", edit_product_path(product), class: "btn btn-sm btn-outline-info open-product" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "layouts/table_footer", elements: @products %>
