<% if current_user.admin? %>
  <%= render 'layouts/admin_navbar' %>
<% else %>
  <%= render 'layouts/user_navbar' %>
<% end %>

<table class="table table-sm text-center mt-5">
  <thead class="bg-dark text-white">
    <th>Título</th>
    <th>Tipo</th>
    <th>Solicitante</th>
    <th>Estado atual</th>
    <th>Solicitado em</th>
    <th>Concluído em</th>
    <th></th>
  </thead>
  <tbody>
    <% @suggestions.each do |suggestion| %>
      <tr class="suggestion">
        <td>
          <%= suggestion.title %>
        </td>
        <td>
          <%= show_suggestion_kind suggestion %>
        </td>
        <td>
          <%= suggestion.requester.login %>
        </td>
        <td>
          <%= show_current_state suggestion %>
        </td>
        <td>
          <%= l suggestion.created_at %>
        </td>
        <td>
          <% if suggestion.complete? %>
            <%= l suggestion.finish_date %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <%= link_to "Exibir", suggestion, class: "btn btn-sm btn-outline-info show-suggestion" %>
          <% if current_user.user? %>
            <% if suggestion.requester_id == session[:user_id] %>
              <% if suggestion.waiting_validation? %>
                <%= link_to "Concluir", suggestion_path(suggestion, current_status: :complete), method: :patch, class: "btn btn-sm btn-outline-success complete-suggestion", data: {confirm: "Tem certeza ?"}%>
              <% end %>
              <% unless suggestion.complete? || suggestion.canceled? %>
                <%= link_to "Editar", edit_suggestion_path(suggestion), class: "btn btn-outline-warning btn-sm edit-suggestion" %>
              <% end %>
              <% unless suggestion.complete? || suggestion.canceled? %>
                <%= link_to "Cancelar", suggestion_path(suggestion, current_status: :canceled), method: :patch, class: "btn btn-sm btn-outline-danger cancel-suggestion", data: {confirm: "Tem certeza ?"} %>
              <% end %>
            <% end %>
          <% else %>
              <% if suggestion.in_line? %>
                <%= link_to "Colocar em desenvolvimento", suggestion_path(suggestion, current_status: :development), class: "btn btn-sm btn-outline-primary change-to-development", method: :patch %>
              <% end %>
              <% if suggestion.development? %>
                <%= link_to "Colocar em aguardando validação", suggestion_path(suggestion, current_status: :waiting_validation), method: :patch, class: "btn btn-sm btn-outline-info change-to-waiting-validation" %>
              <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>

<%= render 'layouts/table_footer', elements: @suggestions %>
