<%= render 'layouts/admin_navbar' %>

<table class="table table-sm text-center mt-5">
  <thead class="bg-dark text-white">
    <th>Título</th>
    <th>Tipo</th>
    <th>Solicitante</th>
    <th>Estado atual</th>
    <th>Solicitado em</th>
    <th>Tempo estimado</th>
    <th>Concluído em</th>
    <th></th>
  </thead>
  <tbody>
    <% @suggestions.each do |suggestion| %>
      <tr class="suggestion">
        <td>
          <%= suggestion.title %>
        </td>
        <td>
          <%= show_suggestion_kind suggestion %>
        </td>
        <td>
          <%= suggestion.requester.login %>
        </td>
        <td>
          <%= show_current_state suggestion %>
        </td>
        <td>
          <%= l suggestion.created_at %>
        </td>
        <td>
          <%= show_time_forseen suggestion %>
        </td>
        <td>
          <% if suggestion.complete? %>
            <%= l suggestion.finish_date %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <% if suggestion.in_line? %>
            <%= link_to "Colocar em avaliação", suggestion_change_status_path(suggestion, new_status: :evaluating), method: :patch, class: "btn btn-sm btn-outline-secondary change-to-evaluating" %>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>

<%= render 'layouts/table_footer', elements: @suggestions %>
