<%= render 'layouts/admin_navbar' %>

<table class="table table-sm text-center mt-5">
  <thead class="bg-dark text-white">
    <th>Título</th>
    <th>Tipo</th>
    <th>Solicitante</th>
    <th>Estado atual</th>
    <th>Solicitado em</th>
    <th>Iniciado em</th>
    <th>Concluído em</th>
    <th></th>
  </thead>
  <tbody>
    <% @suggestions.each do |suggestion| %>
      <tr class="suggestion">
        <td>
          <%= suggestion.title %>
        </td>
        <td>
          <%= show_suggestion_kind suggestion %>
        </td>
        <td>
          <%= suggestion.requester.login %>
        </td>
        <td>
          <%= show_current_state suggestion %>
        </td>
        <td>
          <%= l suggestion.created_at %>
        </td>
        <td>
          <% if suggestion.start_at %>
            <%= l suggestion.start_at %>
          <% end %>
        </td>
        <td>
          <% if suggestion.complete? %>
            <%= l suggestion.finish_date %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <%= link_to "Exibir", suggestion, class: "btn btn-sm btn-outline-info show-suggestion" %>
          <% if suggestion.in_line? %>
            <%= link_to "Colocar em desenvolvimento", suggestion_path(suggestion, current_status: :development), class: "btn btn-sm btn-outline-primary change-to-development", method: :patch %>
          <% end %>
          <% if suggestion.development? %>
            <%= link_to "Colocar em aguardando validação", suggestion_change_status_path(suggestion, new_status: :waiting_validation), method: :patch, class: "btn btn-sm btn-outline-info change-to-waiting-validation" %>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>

<%= render 'layouts/table_footer', elements: @suggestions %>
