<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :patient_id %>
    <%= f.text_field :patient_id, {value: @attendance.patient.name, disabled: true, class: 'form-control'}%>
  </div>

  <div class="form-group">
    <%= f.label :desease_stage_id %>
    <%= f.select :desease_stage_id, options_from_collection_for_select(@desease_stages, 'id', 'name'),{} ,{class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :cid_code %>
    <%= f.text_field :cid_code, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :lis_code %>
    <%= f.text_field :lis_code, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :health_ensurance_id %>
    <%= f.select :health_ensurance_id, options_from_collection_for_select(@health_ensurances, 'id', 'name'), {}, {class: 'form-control'} %>
    <% f.text_field :health_ensurance_id %>
  </div>
  
  <!-- <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div> -->

  <!-- <div class="field">
    <%= f.label :finish_date %><br>
    <%= f.datetime_select :finish_date %>
  </div> -->
  
  <!-- <div class="field">
    <%= f.label :attendance_status_kind_id %><br>
    <%= f.text_field :attendance_status_kind_id %>
  </div> -->

  <div class="form-group">
    <%= f.label :doctor_name %>
    <%= f.text_field :doctor_name, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :doctor_crm %>
    <%= f.number_field :doctor_crm, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :observations %>
    <%= f.text_area :observations, {class: 'form-control'} %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
