<div class="col-md-10 offset-md-1" hidden>
  <%= render 'attendances/tabs/attendance', locals: {attendance: @attendance} %>
</div>

<div class = 'mb-5 mt-3'>
  <div class="form-group">
    <%= label_tag :field, Field.model_name.human %>
    <%= select_tag :field, options_from_collection_for_select(@fields, 'id', 'name'), {class: 'form-control', include_blank: 'Selecione uma área', id: 'field'} %>
  </div>
  <div class="form-group">
    <%= label_tag :offered_exam, OfferedExam.model_name.human %>
    <%= select_tag :offered_exam, [], {class: 'form-control', id: 'exams'} %>
  </div>
  <button id = 'btn_add_exam' class="btn btn-outline-primary">
    Adicionar
  </button>
</div>

<table class = 'table mt-5 text-center'>
  <thead class="bg-dark text-white">
    <th>
      <h4>Exame</h4>
    </th>
    <th>
      <h4>Área</h4>
    </th>
    <th></th>
    <th hidden></th>
  </thead>
  <tbody id = 'exams_table'>
  </tbody>
</table>


<script>
  function remove_line(event) {
    let line = $(event.target).parent().parent()
    line.remove()
  }
</script>


<script>
  $('#btn_add_exam').click((event) => {
    event.preventDefault()
    let area = {
      id: $('#field').val(),
      name: $('#field option:selected').text(),
    }
    let exam = {
      id: $('#exams').val(),
      name: $('#exams option:selected').text().trim(),
    }
    $('#exams_table').append(`
        <tr>
          <td>
            ${exam.name}
          </td>
          <td>
            ${area.name}
          </td>
          <td>
            <button class = 'btn btn-sm btn-outline-danger' onclick=remove_line(event)>
              Remover
            </button>
          </td>
          <td hidden>
            ${exam.id}
          </td>
        </tr>
      `)
  })
</script>

<script>
  $('#field').change(() => {
    if ($('#field').val() !== ''){
      $('.exam_option').remove()
      let field_id = $('#field').val()
      axios.get(`/offered_exams/field/${field_id}`)
          .then(function (response) {
            response.data.forEach(exam => {
              $('#exams').append(`
                  <option class = 'exam_option' value = ${exam.id}>
                    ${exam.name}
                  </option>
                `)
            })
          })
          .catch(function (error) {
            console.log(error)
            alert('Houve um erro no servidor, tente novamente mais tarde')
          })
    }
  })
</script>