<div id = 'error_messages' class = 'alert alert-danger'>

</div>
<%= csrf_meta_tag %>
<div class="col-md-10 offset-md-1 mt-4 border p-2">
  <div class="border-bottom pb-3">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" id = 'attendance_nav'>Atendimento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'exam_nav'>Exames</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'sample_nav'>Amostras</a>
      </li>
    </ul>
  </div>

  <div class="mt-2 col-md-10 offset-md-1 mt-3">
    <div id = 'attendance_tab'>
      <%= render 'attendances/tabs/attendance', locals: {attendance: @attendance} %>
    </div>

    <div id = 'exams_tab' hidden>
      <%= render 'attendances/tabs/exams' %>
    </div>

    <div id = 'samples_tab' hidden>
      <%= render 'attendances/tabs/samples' %>
    </div>
  </div>
  <button class="btn btn-outline-success offset-md-11" id = 'btn_save'>Salvar</button>
</div>

<script>
  function build_attendance(){
    let exams = []
    document.querySelectorAll('.exam_id').forEach(span => {
      let exam = {
        offered_exam_id: parseInt(span.textContent)
      }
      exams.push(exam)
    })

    let samples = []
    document.querySelectorAll('.sample').forEach(sample_line => {
      let sample_kind_id = parseInt(sample_line.querySelector('.sample_kind_id').textContent)
      let date_text = sample_line.querySelector('.collection_date').textContent.split('/')
      let collection_date = new Date(
        parseInt(date_text[2]), 
        parseInt(date_text[1]) - 1, 
        parseInt(date_text[0])
      )
      let bottles_number = parseInt(sample_line.querySelector('.bottles_number').textContent)
      sample = {
        sample_kind_id,
        collection_date,
        bottles_number,
      }
      samples.push(sample)
    })

    let attendance = {
      patient_id: <%= @attendance.patient.id %>,
      desease_stage_id: $('#desease_stage_id').val(),
      cid_code: $('#cid_code').val(),
      lis_code: $('#lis_code').val(),
      health_ensurance_id: $('#health_ensurance_id').val(),
      doctor_name: $('#doctor_name').val(),
      doctor_crm: $('#doctor_crm').val(),
      observations: $('#observations').val(),
      exams_attributes: exams,
      samples_attributes: samples
    }
    return attendance
  }
</script>


<script>
  $('#btn_save').click(() => {
    let attendance = build_attendance()
    console.log(attendance)
    const authenticity_token = $('meta[name="csrf-token"]').attr('content')
    axios.post(
      '/attendances',
      {authenticity_token, attendance }
    )

  })
</script>



























<script>
  $('#attendance_nav').click(event => {
    event.preventDefault()
    $('#attendance_tab').removeAttr('hidden')
    $('#exams_tab').attr('hidden', 'hidden')
    $('#samples_tab').attr('hidden', 'hidden')
    $('#attendance_nav').addClass('active')
    $('#exam_nav').removeClass('active')
    $('#sample_nav').removeClass('active')

  })

  $('#exam_nav').click(event => {
    event.preventDefault()
    $('#exams_tab').removeAttr('hidden')
    $('#attendance_tab').attr('hidden', 'hidden')
    $('#samples_tab').attr('hidden', 'hidden')
    $('#exam_nav').addClass('active')
    $('#attendance_nav').removeClass('active')
    $('#sample_nav').removeClass('active')
  })

  $('#sample_nav').click(event => {
    event.preventDefault()
    $('#samples_tab').removeAttr('hidden')
    $('#attendance_tab').attr('hidden', 'hidden')
    $('#exams_tab').attr('hidden', 'hidden')
    $('#sample_nav').addClass('active')
    $('#attendance_nav').removeClass('active')
    $('#exam_nav').removeClass('active')
  })
</script>