<div class="col-md-6 offset-md-3 mt-2 border-bottom p-3" style="overflow: auto;">
  <%= form_tag(@attendance, method: :get) do %>
    <%= text_field_tag :status_changes, true, {hidden: true} %>
    <div class="form-group">
      <%= label_tag Exam.model_name.human %>
      <select class="form-control" name="exam">
        <option value="all">Todos</option>
        <%= @attendance.exams.each do |exam| %>
          <option value="<%= exam.id %>">
            <%= exam.offered_exam.name %>
          </option>
        <% end %>
      </select>
    </div>
    <button class="btn btn-outline-info float-right">
      Buscar
    </button>
  <% end %>
</div>

<table class="table-bordered table-striped">
  <thead>
    <th>Exame</th>
    <th>Novo status</th>
    <th>Horário da mudança</th>
    <th>Feito por</th>
  </thead>
  <tbody>
    <% @exams_status_changes.each do |status_change| %>
      <tr>
        <td>
          <%= status_change.exam.offered_exam.name %>
        </td>
        <td>
          <%= show_exam_status status_change.new_status %>
        </td>
        <td>
          <%= status_change.change_date.strftime("%-d/%-m/%y: %H:%M") %>
        </td>
        <td>
          <%= status_change.user.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
