<%= render 'layouts/user_navbar' %>

<table class = 'table table-bordered text-center mt-5'>
	<thead class = 'bg-dark text-white'>
		<th>
			<%= Attendance.human_attribute_name :lis_code %>
		</th>
		<th>
			<%= Attendance.human_attribute_name :attendance_status_kind %>
		</th>
		<th>
			<%= Attendance.human_attribute_name :start_date %>
		</th>
		<th>
			<%= Attendance.human_attribute_name :finish_date %>
		</th>
		<th>
			Exames em restantes
		</th>
		<th>
			Exames concluídos
		</th>
		<th>
		</th>
	</thead>
	<tbody>
		<% @attendances.each do |attendance| %>
			<tr>
				<td><%= attendance.lis_code %></td>
				<td><%= span condition: attendance.complete?, text: attendance.status_name %></td>
				<td><%= l attendance.start_date.to_date %></td>
				<td><%= show_attendance_finish_date attendance %></td>
				<td>
					<%= attendance.exams.where.not(exam_status_kind: ExamStatusKind.find_by(name: 'Concluído')).size %>
				</td>
				<td>
					<%= attendance.exams.where(exam_status_kind: ExamStatusKind.find_by(name: 'Concluído')).size %>
				</td>
				<td>
					<%= link_to 'Atendimento', workflow_path(attendance), {class: 'btn btn-sm btn-outline-primary'} %>
					<%= link_to 'Verificar andamento', attendance_path(attendance), class: 'ml-2 btn btn-sm btn-outline-info' %>
				</td>
		<% end %>
	</tbody>
</table>
