<%= render 'layouts/user_navbar' %>

<div id="new-attendance-form">
  <%= form_for @attendance, html: {class: 'col-md-10 mt-4 offset-md-1'} do |f| %>
    <div class="card" style="overflow: auto;">
      <div class="card-header bg-white">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <button id="attendance_nav" class="btn nav-link active border w-75 mx-auto">Atendimento</button>
          </li>
          <li class="nav-item">
            <button id="exams_nav" class="btn nav-link border w-75 mx-auto">Exames</button>
          </li>
          <li class="nav-item">
            <button id="samples_nav" class="btn nav-link border w-75 mx-auto">Amostras</button>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <%= show_errors @attendance %>

        <div id="attendance_tab" style="display: auto;">
          <%= render 'attendances/tabs/attendance', f: f %>
        </div>

        <div id="exams_tab" style="display: none;">
          <%= render 'attendances/tabs/exams', f: f %>
        </div>

        <div id="samples_tab" style="display: none;">
          <%= render 'attendances/tabs/samples', f: f %>
        </div>

      </div>
    </div>

  <% end %>
</div>
