<%= render 'layouts/user_navbar' %>

<div class="col-md-10 offset-md-1 mt-4 border p-2">
  <div class="border-bottom pb-3">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" id = 'attendance_nav'>Atendimento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'exam_nav'>Exames</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'sample_nav'>Amostras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'sub_sample_nav'>Subamostras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'work_map_nav'>Mapa de trabalho</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'report_nav'>Laudo</a>
      </li>
    </ul>
  </div>
  <div class="mt-3">
  	<div hidden>
			<%= render 'attendances/forms/attendance' %>
		</div>



		






		<table class="table text-center table-bordered">
			<thead class="bg-dark text-white">
				<th>
					<h4>Nome</h4>
				</th>
				<th>
					<h4>Data de início</h4>
				</th>
				<th>
					<h4>Status</h4>
				</th>
				<th>
					<h4>Alterar status</h4>
				</th>
			</thead>
			<tbody>
				<% @attendance.exams.each do |exam| %>
					<tr>
						<td>
							<%= exam.offered_exam.name %>
						</td>
						<td>
							<% if exam.start_date %>
								<%= l(exam.start_date) %>
							<% end %>
						</td>
						<td>
							<%= exam.exam_status_kind.name %>
						</td>
						<td>
							<% unless exam.exam_status_kind == ExamStatusKind.find_by({name: 'Aguardando início'}) %>
								<button>
									Iniciar
								</button>
							<% end %>

							<% unless exam.exam_status_kind == ExamStatusKind.find_by({name: 'Em andamento'}) %>
								<button>
									Em andamento
								</button>
							<% end %>

							<% unless  exam.exam_status_kind == ExamStatusKind.find_by({name: 'Liberado técnico'}) %>
								<button>
									Liberado técnico
								</button>
							<% end %>

							<% unless exam.exam_status_kind == ExamStatusKind.find_by({name: 'Em repetição'})%> 
								<button>
									Em repetição
								</button>
							<% end %>

							<% unless exam.exam_status_kind == ExamStatusKind.find_by({name: 'Concluído'}) %>
								<button>
									Concluído
								</button>
							<% end %>


						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
















































  </div>
</div>


<script>

  $('#attendance_nav').click(event => {
    event.preventDefault()
    $('#attendance_tab').removeAttr('hidden')
    $('#exams_tab').attr('hidden', 'hidden')
    $('#samples_tab').attr('hidden', 'hidden')
    $('#sub_sample_tab').attr('hidden', 'hidden')
    $('#work_map_tab').attr('hidden', 'hidden')
    $('#report_tab').attr('hidden', 'hidden')
    $('#attendance_nav').addClass('active')
    $('#exam_nav').removeClass('active')
    $('#sample_nav').removeClass('active')
    $('#sub_sample_nav').removeClass('active')
    $('#work_map_nav').removeClass('active')
    $('#report_nav').removeClass('active')
  })

</script>