<%= render 'layouts/user_navbar' %>

<div class="col-md-10 offset-md-1 mt-4 border p-2">
  <div class="border-bottom pb-3">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" id = 'attendance_nav'>Atendimento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'exam_nav'>Exames</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'sample_nav'>Amostras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'sub_sample_nav'>Subamostras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'work_map_nav'>Mapa de trabalho</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'report_nav'>Laudo</a>
      </li>
    </ul>
  </div>
  <div class="mt-3">
  	<div hidden>
			<%= render 'attendances/forms/attendance' %>
		</div>

		<div hidden>
			<%= render 'attendances/forms/exams' %>
		</div>

		<%= link_to 'Nova amostra', new_sample_path(@attendance), {class: 'btn btn-lg btn-outline-success float-right mb-4'} %>

		<table class = 'table table-bordered text-center mt-3'>
			<thead class = 'text-white bg-dark'>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:sample_kind) %>
					</h4>
				</th>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:refference_label) %>
					</h4>
				</th>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:bottles_number) %>
					</h4>
				</th>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:collection_date) %>
					</h4>
				</th>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:storage_location) %>
					</h4>
				</th>
				<th>
					<h4>
						<%= Sample.human_attribute_name(:has_sub_sample) %>
					</h4>
				</th>
				<th></th>
			</thead>
			<tbody>
				<% @attendance.samples.each do |sample| %>
					<tr>
						<td>
							<%= sample.sample_kind.name %>
						</td>
						<td>
							<%= sample.refference_label %>
						</td>
						<td>
							<%= sample.bottles_number %>
						</td>
						<td>
							<%= l sample.collection_date %>
						</td>
						<td>
							<%= sample.storage_location %>
						</td>
						<td>
							<% if sample.has_sub_sample %>
								Sim
							<% else %>
								Não
							<% end %>
						</td>
						<td>
							<%= link_to 'Editar', edit_sample_path(sample), {class: 'btn btn-sm btn-outline-warning'} %>
							<%= link_to 'Remover', sample_path(sample), {data: { confirm: "Tem certeza ?" }, class: 'btn btn-sm btn-outline-danger', method: :delete} %>
						</td>
				<% end %>
			</tbody>
		</table>













		
















































  </div>
</div>


<script>

  $('#attendance_nav').click(event => {
    event.preventDefault()
    $('#attendance_tab').removeAttr('hidden')
    $('#exams_tab').attr('hidden', 'hidden')
    $('#samples_tab').attr('hidden', 'hidden')
    $('#sub_sample_tab').attr('hidden', 'hidden')
    $('#work_map_tab').attr('hidden', 'hidden')
    $('#report_tab').attr('hidden', 'hidden')
    $('#attendance_nav').addClass('active')
    $('#exam_nav').removeClass('active')
    $('#sample_nav').removeClass('active')
    $('#sub_sample_nav').removeClass('active')
    $('#work_map_nav').removeClass('active')
    $('#report_nav').removeClass('active')
  })

</script>