<%= render 'layouts/user_navbar' %>

<% if flash[:info] %>
  <div class="alert alert-primary" role="alert">
    <%= flash[:info] %>
  </div>
<% end %>

<div class="mt-5 border p-2">
  <div class="border-bottom pb-3">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <button class="btn nav-link active border w-75" id = 'attendance_nav'>Atendimento</button>
      </li>
      <li class="nav-item">
        <button class="btn nav-link border w-75" id = 'exam_nav'>Exames</button>
      </li>
      <li class="nav-item">
        <button class="btn nav-link border w-75" id = 'sample_nav'>Amostras</button>
      </li>
      <li class="nav-item">
        <button class="btn nav-link border w-75" id = 'subsample_nav'>Subamostras</button>
      </li>
      <li class="nav-item">
        <button class="btn nav-link border w-75" id = 'work_map_nav'>Mapa de trabalho</button>
      </li>
      <li class="nav-item">
        <button class="btn nav-link border w-75" id = 'report_nav'>Laudo</button>
      </li>
    </ul>
  </div>
  <div class="mt-3">
  	<div id='attendance_tab'>
			<%= render 'attendances/forms/attendance'%>
		</div>

		<div id='exams_tab' style="display: none;">
			<%= render 'attendances/forms/exams' %>
		</div>

		<div id='samples_tab' style="display: none;">
			<%= render 'attendances/forms/samples' %>
		</div>

    <div id='subsample_tab' style="display: none;">
      <%= render 'attendances/forms/subsamples' %>
    </div>

    <div id="work_map_tab" style="display: none;">
      <%= render 'attendances/forms/work_maps'%>
    </div>

    <div id='report_tab' style="display: none;">
      <%= render 'attendances/forms/report' %>
    </div>

  </div>
</div>


<script>

  $('#attendance_nav').click(event => {
    event.preventDefault()
    $('#attendance_tab').css('display', 'none')
    $('#exams_tab').css('display', 'none')
    $('#samples_tab').css('display', 'none')
    $('#subsample_tab').css('display', 'none')
    $('#work_map_tab').css('display', 'none')
    $('#report_tab').css('display', 'none')
    $('#attendance_tab').fadeToggle()
    $('#attendance_nav').addClass('active')
    $('#exam_nav').removeClass('active')
    $('#sample_nav').removeClass('active')
    $('#subsample_nav').removeClass('active')
    $('#work_map_nav').removeClass('active')
    $('#report_nav').removeClass('active')
  })

  $('#exam_nav').click(event => {
    event.preventDefault()
    $('#attendance_tab').css('display', 'none')
    $('#exams_tab').css('display', 'none')
    $('#samples_tab').css('display', 'none')
    $('#subsample_tab').css('display', 'none')
    $('#work_map_tab').css('display', 'none')
    $('#report_tab').css('display', 'none')
    $('#exams_tab').fadeToggle()
    $('#attendance_nav').removeClass('active')
    $('#exam_nav').addClass('active')
    $('#sample_nav').removeClass('active')
    $('#subsample_nav').removeClass('active')
    $('#work_map_nav').removeClass('active')
    $('#report_nav').removeClass('active')
  })

  $('#sample_nav').click(event => {
    event.preventDefault()
    $('#attendance_tab').css('display', 'none')
    $('#exams_tab').css('display', 'none')
    $('#samples_tab').css('display', 'none')
    $('#subsample_tab').css('display', 'none')
    $('#work_map_tab').css('display', 'none')
    $('#report_tab').css('display', 'none')
    $('#samples_tab').fadeToggle()
    $('#attendance_nav').removeClass('active')
    $('#exam_nav').removeClass('active')
    $('#sample_nav').addClass('active')
    $('#subsample_nav').removeClass('active')
    $('#work_map_nav').removeClass('active')
    $('#report_nav').removeClass('active')
  })

  $('#subsample_nav').click(event => {
      event.preventDefault()
      $('#attendance_tab').css('display', 'none')
      $('#exams_tab').css('display', 'none')
      $('#samples_tab').css('display', 'none')
      $('#subsample_tab').css('display', 'none')
      $('#work_map_tab').css('display', 'none')
      $('#report_tab').css('display', 'none')
      $('#subsample_tab').fadeToggle()
      $('#attendance_nav').removeClass('active')
      $('#exam_nav').removeClass('active')
      $('#sample_nav').removeClass('active')
      $('#subsample_nav').addClass('active')
      $('#work_map_nav').removeClass('active')
      $('#report_nav').removeClass('active')
    })

  $('#work_map_nav').click(event => {
      event.preventDefault()
      $('#attendance_tab').css('display', 'none')
      $('#exams_tab').css('display', 'none')
      $('#samples_tab').css('display', 'none')
      $('#subsample_tab').css('display', 'none')
      $('#work_map_tab').css('display', 'none')
      $('#report_tab').css('display', 'none')
      $('#work_map_tab').fadeToggle()
      $('#attendance_nav').removeClass('active')
      $('#exam_nav').removeClass('active')
      $('#sample_nav').removeClass('active')
      $('#subsample_nav').removeClass('active')
      $('#work_map_nav').removeClass('active')
      $('#work_map_nav').addClass('active')
    })

  $('#report_nav').click(event => {
      event.preventDefault()
      $('#attendance_tab').css('display', 'none')
      $('#exams_tab').css('display', 'none')
      $('#samples_tab').css('display', 'none')
      $('#subsample_tab').css('display', 'none')
      $('#work_map_tab').css('display', 'none')
      $('#report_tab').css('display', 'none')
      $('#report_tab').fadeToggle()
      $('#attendance_nav').removeClass('active')
      $('#exam_nav').removeClass('active')
      $('#sample_nav').removeClass('active')
      $('#subsample_nav').removeClass('active')
      $('#work_map_nav').removeClass('active')
      $('#report_nav').addClass('active')
    })

</script>
