<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <!-- <a class="navbar-brand" href="#">Genômico ADMIN</a> -->
  <%= link_to 'Genômico ADMIN', home_admin_index_path, {class: 'navbar-brand'}%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuário
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Novo', new_user_path, {class: 'dropdown-item'} %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Usuários</a>
        </div>
      </li>
    </ul>
    <label class="h4 mr-3 mb-0">
      <%= @user.login %>
    </label>
    <%= link_to 'Logout', home_logout_path,{method: :post, class: 'btn btn-sm btn-outline-dark'} %>
  </div>
</nav>

<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:warning] %>
  <div class="alert alert-danger" role = 'alert'>
    <%= flash[:warning] %>
  </div>
<% end %>