<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Genômico', home_user_index_path, class: 'navbar-brand', id: 'home-link' %>

    <ul class="navbar-nav mr-auto">

      <%= render 'layouts/user_dropdowns/patient' %>

      <%= render 'layouts/user_dropdowns/samples' %>

      <%= render 'layouts/user_dropdowns/work_map' %>

      <%= link_to "Estoque", stock_products_base_report_path, class: "nav-link" %>

      <%= render 'layouts/user_dropdowns/offered_exams' %>

      <%= render 'layouts/user_dropdowns/hospital' %>

      <%= render 'layouts/user_dropdowns/indicators' %>

    </ul>

    <%= form_with method: :get, url: :patients, class: 'form-inline mr-5'  do |form| %>
      <%= form.text_field "name_search", class: 'form-control mr-sm-2', type: 'search', placeholder: 'Buscar paciente', id: 'patient-name-search' %>
      <button id="btn-search-patient" class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    <% end %>

    <label class="h4 mr-3 mb-0 text-white">
      <%= session[:user_login] %>
    </label>

    <%= link_to 'Logout', home_logout_path,{method: :post, class: 'btn btn-sm btn-outline-light', id: 'logout-link'} %>
</nav>

<%= render 'shared/flash_feedback' %>

<% if @has_release_message %>
  <div class="alert alert-info" role="alert" style="overflow: auto;" id="release-message">
    <%= display_release_message(session[:user_id]) %>
  </div>
<% end %>
