<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Genômico', home_user_index_path, {class: 'navbar-brand'}%>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="patient-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Paciente
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Novo', new_patient_path, {class: 'dropdown-item', id: 'new-patient'} %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Buscar', patients_path, {class: 'dropdown-item', id: 'patients'} %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mapas de trabalho
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Novo', new_work_map_path, {class: 'dropdown-item'} %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Buscar', work_maps_path, {class: 'dropdown-item'} %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Atendimentos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Painel de exames', panels_exams_path, {class: 'dropdown-item'} %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Buscar', attendances_path, class: 'dropdown-item' %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="hospital-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hospital
        </a>
        <div class="dropdown-menu" aria-labelledby="hospital-dropdown">
          <%= link_to 'Novo', new_hospital_path, {class: 'dropdown-item', id: 'new-hospital'} %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Todos', hospitals_path, {class: 'dropdown-item', id: 'hospitals'} %>
        </div>
      </li>

    </ul>

    <%= form_tag(lis_search_path, {method: :get, class: 'form-inline mr-5'}) do %>
      <%= text_field_tag :lis_code_search, '', {class: 'form-control mr-sm-2', type: 'search', placeholder: 'Buscar por Código Lis'} %>
      <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    <% end %>

    <label class="h4 mr-3 mb-0 text-white">
      <%= session[:user_login] %>
    </label>

    <%= link_to 'Logout', home_logout_path,{method: :post, class: 'btn btn-sm btn-outline-light', id: 'logout-link'} %>
</nav>

<%= render 'shared/flash_feedback' %>
